

<ion-header class="ion-no-border">


    <ion-avatar class="profile">
        <img
        style="object-fit: fill;"
        src="{{this.property.logoUrl}}"
        onerror="this.src='/assets/img/app-logo.png'"
    />
    </ion-avatar>

    <ion-text class="HeaderSubTitle"> Manage Expense </ion-text>
    <ion-toolbar>
        <ion-buttons slot="start" class="back">
            <ion-icon name="arrow-back-outline" (click)="navigateToPage()" style="font-size: 20px; margin-top: -10px;"></ion-icon>
            <ion-text color="light" class="HeaderTitle" 
                >Accommodation</ion-text
            >
            <!-- <ion-img
            style="height:50px; margin-top: -6px;"
                src="/assets/img/icons/arrow-down-white.svg"
                (click)="onMenu()"
            ></ion-img> -->
        </ion-buttons>
        <!-- <ion-text color="light" class="HeaderTitle">Accommodation</ion-text> -->
    </ion-toolbar>
</ion-header>
<ion-content no-margin no-padding>
    <ion-searchbar
        class="list-search marginTop"
        mode="md"
        (ionClear)="clear($event)"
        (ionInput)="getItems($event)"
        no-margin
        no-padding
    >
    </ion-searchbar>

    <!-- <ion-row >
        <ion-segment mode="md" 
            (ionChange)="expenseChanged()"
            [(ngModel)]="expenseSearchSelection"
        >
            <ion-segment-button value="findExpese">
                <ion-label style="color: white;">Find </ion-label>
            </ion-segment-button>
            <ion-segment-button value="allExpense">
                <ion-label style="color: white;">All </ion-label>
            </ion-segment-button>
        </ion-segment>
    </ion-row> -->

    <ion-grid no-margin no-padding>
        <div >
            <form [formGroup]="onFindExpenseForm">
                <ion-row>
                    <ion-col size="6">
                        <ion-text
                            class="check-in-out-text"
                            style="font-size: 12px;margin-left: 10px;color: #333;"
                            >From
                        </ion-text>
                        <ion-row>
                            <ion-col no-padding size="12">
                        
                                <ion-item  class="datetime-box">
                                    <ion-datetime-button datetime="expenceListFromDate" class="date-btn"></ion-datetime-button>
    
                                    <ion-icon
                                        name="calendar-clear"
                                        (click)="setFromDateOpen(true)"
                                        
                                        class="calendar-icon"
                                    ></ion-icon>
                                    <ion-modal [keepContentsMounted]="true"
                                     [isOpen]="isFromModalOpen"
                                (ionModalDidDismiss)="dismissFromDateModal()">
                                    <ng-template>
                                        <ion-datetime
                                        id="expenceListFromDate"
                                        style="border: 1px solid gray; border-radius: 5px; color: #333;"
                                        [(ngModel)]="fromDateString"
                                        (ionChange)="fromDateChange()"
                                        formControlName="bookingFromDate"
                                        display-format="DD/MM/YYYY"
                                        presentation="date"
                                        placeholder="DD/MM/YYYY"
                                        min="2000-12-31"
                                        max="2100-12-31"
                                        [showDefaultButtons]="true"
                                        doneText="Done"
                                        cancelText="Cancel"
                                        ></ion-datetime>
                                    </ng-template>
                                    </ion-modal>
                                </ion-item>


                                <!-- <ion-datetime
                                style="border: 1px solid gray;border-radius: 5px;color: #333;"
                                    [(ngModel)]="fromDateString"
                                    (ionChange)="fromDateChange()"
                                    formControlName="bookingFromDate"
                                    no-padding
                                    class="datepicker"
                                    color="primary"
                                    displayFormat="DD/MM/YYYY"
                                    pickerFormat="DD/MM/YYYY"
                                    placeholder="DD/MM/YYYY"
                                    min= "2000-12-31"
                                    max="2100-12-31"
                                ></ion-datetime> -->
                                
                            </ion-col>
                        </ion-row>
                    </ion-col>

                    <ion-col size="6">
                        <ion-text
                            color="primary"
                            class="check-in-out-text"
                            style="font-size: 12px;margin-left: 10px;color: #333;"
                            >To
                        </ion-text>

                        <ion-row>
                            <ion-col no-padding size="12">

                                <ion-item class="datetime-box">

                                    <ion-datetime-button datetime="expenceListToDate" class="date-btn"></ion-datetime-button>
                                     <ion-icon
                                        name="calendar-clear"
                                        (click)="setToDateOpen(true)"
                                        class="calendar-icon"
                                    ></ion-icon>
                                    <ion-modal [keepContentsMounted]="true"
                                    [isOpen]="isToModalOpen" (ionModalDidDismiss)="dismissToDateModal()">
                                    <ng-template>
                                        <ion-datetime
                                        id="expenceListToDate"
                                        style="border: 1px solid gray; border-radius: 5px; color: #333;"
                                        [(ngModel)]="toDateString"
                                        [min]="fromDateString"
                                        max="2100-12-31"
                                        formControlName="bookingToDate"
                                        color="primary"
                                        display-format="DD/MM/YYYY"
                                        presentation="date"
                                        placeholder="Select Date"
                                        [showDefaultButtons]="true"
                                        doneText="Done"
                                        cancelText="Cancel"
                                        >
                                        </ion-datetime>
                                    </ng-template>
                                    </ion-modal>
                                </ion-item>

                                <!-- <ion-datetime
                                style="border: 1px solid gray;border-radius: 5px;color: #333;"
                                    [(ngModel)]="toDateString"
                                    min= {{fromDateString}}
                                    max="2100-12-31"
                                    formControlName="bookingToDate"
                                    no-padding
                                    class="datepicker"
                                    color="primary"
                                    displayFormat="DD/MM/YYYY"
                                    pickerFormat="DD/MM/YYYY"
                                    placeholder="Select Date"
                                ></ion-datetime> -->
                            </ion-col>
                        </ion-row>
                    </ion-col>
                </ion-row>

                <ion-row class="action-button">
                    <ion-col size="6">
                        <ion-button
                            expand="block"
                            class="btn-reset"
                            (click)="ResetAllField()"
                            >Reset</ion-button
                        >
                    </ion-col>
                    <ion-col size="6">
                        <ion-button
                            expand="block"
                            color="primary"
                            (click)="findExpense()"
                            [disabled]="!onFindExpenseForm.valid|| loader"
                        >
                            Find</ion-button
                        >
                    </ion-col>
                </ion-row>
            </form>
        </div>
        <ion-list class="item-list">
            <ion-card
                no-margin
                class="data-list"
                *ngFor="let expense of expenses| paginate: { itemsPerPage: 5, currentPage: p }; let i = index"
                no-margin
                no-padding
            >
                <ion-row class="payment-row" (click)="onExpenceDetail(expense)">
                    <ion-col no-padding size="11">
                        <ion-text style="font-size: 13px" color="primary"
                            >Time of Expense:</ion-text
                        >
                        <ion-text class="TextValue" style="font-size: 13px"
                            >{{expense.date | date: 'EEE, MMM d, y'}}</ion-text
                        >
                    </ion-col>
                    <ion-col no-padding size="1">
                        <ion-row>
                            <ion-icon
                                (click)="onExpenceOption(expense);"
                                name="md-more"
                            ></ion-icon>
                        </ion-row>
                    </ion-col>

                    <ion-col no-padding size="12">
                        <ion-row class="payment-row">
                            <ion-text style="font-size: 13px" color="primary"
                                >Expense Id:</ion-text
                            >
                            <ion-text class="TextValue" style="font-size: 13px"
                                >{{expense.billNo}}</ion-text
                            >
                        </ion-row>

                        <ion-row class="payment-row">
                            <ion-text style="font-size: 13px" color="primary"
                                >Type:</ion-text
                            >
                            <ion-text class="TextValue" style="font-size: 13px"
                                >{{expense.name}}</ion-text
                            >
                        </ion-row>

                        <ion-row class="payment-row">
                            <ion-text style="font-size: 13px" color="primary"
                                >Description:</ion-text
                            >
                            <ion-text class="TextValue" style="font-size: 13px"
                                >{{expense.description}}</ion-text
                            >
                        </ion-row>

                        <ion-col
                            no-padding
                            size="12"
                            *ngIf="expense.roomNumber != null && expense.roomNumber != undefined"
                        >
                            <ion-text style="font-size: 13px" color="primary"
                                >Room No:</ion-text
                            >
                            <ion-text class="TextValue" style="font-size: 13px"
                                >{{expense.roomNumber}}
                            </ion-text>
                        </ion-col>

                        <ion-row class="payment-row">
                            <ion-text style="font-size: 13px" color="primary"
                                >Amount:</ion-text
                            >
                            <ion-text class="TextValue" style="font-size: 13px"
                                >{{expense.amount| currency:
                                token.getProperty().localCurrency.toUpperCase():'symbol':'1.2-2'
                                }}</ion-text
                            >
                        </ion-row>
                    </ion-col>
                </ion-row>
            </ion-card>
        </ion-list>

        <pagination-controls (pageChange)="p = $event"></pagination-controls>
    </ion-grid>

    <ion-fab vertical="bottom" horizontal="end" slot="fixed">
        <ion-fab-button (click)="createExpence()">
            <ion-icon name="add"></ion-icon>
        </ion-fab-button>
    </ion-fab>
    <div class="loader-everyOne" *ngIf="loader">
        <ion-spinner name="crescent" class="spinner"></ion-spinner>
        <div class="loader-content">
          <img src="/assets/img/loader-logo.png" alt="Loader Image" class="loader-image">
          <div class="loader-text">Please wait...</div>
        </div>
      </div>
</ion-content>

<ion-footer>
    <ion-toolbar style="height: 50px">
        <app-footer></app-footer>
    </ion-toolbar>
</ion-footer>
