


<ion-header class="headerColor">

    <ion-avatar class="profile">
        <img
        style="object-fit: fill;"
            src="{{this.property.logoUrl}}"
            onerror="this.src='/assets/img/app-logo.png'"
        />
    </ion-avatar>
    
    
    <ion-toolbar>
        <ion-buttons slot="start" class="back" (click)="navigateToPage()">
            <ion-icon name="arrow-back-outline"></ion-icon>
        </ion-buttons>
        <ion-text color="light" class="HeaderTitle">Business Information</ion-text>
        
    </ion-toolbar>
    </ion-header>

<ion-content>

    <ion-grid fixed no-padding>

        <form  [formGroup]="onBusinessForm" > 

                <ion-row>
                    <ion-col size="12" padding>
                
                        <ion-list margin-bottom>
                            <!-- <ion-list-header color="light">
                              <ion-label class="fw700">Business Infor</ion-label>
                            </ion-list-header> -->
                    
                        <ion-row>
                            <ion-col size ="12" >
                                <ion-list>    
                                    <ion-item>
                                        <ion-label color="dark" position="stacked">Business Name*</ion-label>
                                        <ion-input color="dark" inputmode="text"  formControlName="name"  [(ngModel)]="property.name" ></ion-input>
                                    </ion-item>
                                </ion-list>
                                <p ion-text color="danger" class="text08" *ngIf="onBusinessForm.get('name').dirty && onBusinessForm.get('name').hasError('required')">
                                    <ion-text color="danger">
                                           Input Field Empty
                                    </ion-text>
                                    </p>  
                            </ion-col>
                        </ion-row>   
                     
                            
                        <ion-row>
                            <ion-col size ="12" >
                                <ion-list>    
                                    <ion-item>
                                        <ion-label color="dark" position="stacked">Any Slogan/ Subtitle</ion-label>
                                        <ion-input color="dark" inputmode="text"  formControlName="slogan"  [(ngModel)]="property.slogan" ></ion-input>
                                    </ion-item>
                                </ion-list>
                            </ion-col>
                               
                        </ion-row> 
                        
                        <ion-row>
                            <ion-col size ="12" >
                                <ion-list>    
                                    <ion-item>
                                        <ion-label color="dark" position="stacked">Business Short Name*</ion-label>
                                        <ion-input color="dark" inputmode="text"  formControlName="shortName"  [(ngModel)]="property.shortName" ></ion-input>
                                    </ion-item>
                                </ion-list>
                                <p ion-text color="danger" class="text08" *ngIf="onBusinessForm.get('shortName').dirty && onBusinessForm.get('shortName').hasError('required')">
                                    <ion-text color="danger">
                                           Input Field Empty
                                    </ion-text>
                                    </p>  
                            </ion-col>
                               
                        </ion-row>  

                        <ion-row>
                            <ion-col size ="12" >
                                <ion-list>    
                                    <ion-item>
                                        <ion-label color="dark" position="stacked">GST Number</ion-label>
                                        <ion-input color="dark" inputmode="text"  formControlName="gst"  [(ngModel)]="property.gstNumber" ></ion-input>
                                    </ion-item>
                                </ion-list>
                            </ion-col>
                               
                        </ion-row>  

                        <ion-row>
                            <ion-col size ="12" >
                                <ion-list>    
                                    <ion-item>
                                        <ion-label color="dark" position="stacked">Landphone</ion-label>
                                        <ion-input color="dark" inputmode="text"  formControlName="landphone"  [(ngModel)]="property.landphone" ></ion-input>
                                    </ion-item>
                                </ion-list>
                            </ion-col>
                               
                        </ion-row>  

                        <ion-row>
                            <ion-col size ="12" >
                                <ion-list>    
                                    <ion-item>
                                        <ion-label color="dark" position="stacked">Mobile</ion-label>
                                        <ion-input color="dark" inputmode="text"  formControlName="mobile"  [(ngModel)]="property.mobile" ></ion-input>
                                    </ion-item>
                                </ion-list>
                            </ion-col>
                               
                        </ion-row>  

                        <ion-row>
                            <ion-col size ="12" >
                                <ion-list>    
                                    <ion-item>
                                        <ion-label color="dark" position="stacked">Website</ion-label>
                                        <ion-input color="dark" inputmode="text"  formControlName="website"  [(ngModel)]="property.website" ></ion-input>
                                    </ion-item>
                                </ion-list>
                            </ion-col>
                               
                        </ion-row>  

                        <ion-row>
                            <ion-col size ="12" >
                                <ion-list>    
                                    <ion-item>
                                        <ion-label color="dark" position="stacked">Currency*</ion-label>
                                       
                                        <ion-select color="dark" [(ngModel)]="property.localCurrency" formControlName ="currency"  placeholder="Currency">
                                        
                                            <ion-select-option  value="aud">Australia Dollar(AUD)</ion-select-option >
                                            <ion-select-option  value="usd">United States Dollar (USD)</ion-select-option >
                                            <ion-select-option  value="gbp">British Pound (GBP)</ion-select-option >
                                            <ion-select-option  value="eur">Euro (EUR)</ion-select-option >
                                            <ion-select-option  value="nzd">New Zealand Dollar (NZD)</ion-select-option >
                                            <ion-select-option  value="inr">Indian Rupee (INR)</ion-select-option >
                                            <ion-select-option  value="bdt">Bangladeshi Taka (BDT)</ion-select-option >
                                            <ion-select-option  value="sar">Saudi Riyal (SAR)</ion-select-option >
                                            <ion-select-option  value="sgd">Singapore Dollar (SGD)</ion-select-option >
                                        </ion-select>   
                                    </ion-item>
                                </ion-list>

                                <p ion-text color="danger" class="text08" *ngIf="onBusinessForm.get('currency').dirty && onBusinessForm.get('currency').hasError('required')">
                                    <ion-text color="danger">
                                           Input Field Empty
                                    </ion-text>
                                    </p>  
                            </ion-col>
                               
                        </ion-row>  
                        
                          
                    
                          </ion-list>
                
                  
                        </ion-col>
                      </ion-row>

                      <div class="ion-margin-vertical">
                        <ion-button icon-left size="medium" class="update-button" color="primary" expand="full"  (click)="onSubmit()"
                        [disabled]="!onBusinessForm.valid || loader" tappable> Save
                        </ion-button>
                
                
                    </div>

                
            


        </form>


      
    </ion-grid>

</ion-content>
