<ion-header>
    <ion-toolbar color="primary" class="animated fadeIn">
    
        <ion-buttons slot="start">
            <ion-back-button mode ="md" icon="arrow-back"></ion-back-button>
        </ion-buttons>
        <ion-text color="light" class="HeaderTitle">Customer Status</ion-text>


    
    </ion-toolbar>
  </ion-header>

<ion-content>
    <ion-card class="bg-white">
        <ion-grid no-padding>

            <ion-row>
                <ion-col size="12" size-xl="12" size-sm="12" size-md="12" size-lg="12">

                    <ion-row>
                            <ion-text color="primary" style="font-size: 10px;" >Email</ion-text>
                    </ion-row>
                 
                    <ion-card no-margin>
                        <ion-col no-padding size="12" size-xl="12" size-sm="12" size-md="12" size-lg="12">
                                <ion-input placeholder="Email" inputmode="text"></ion-input>
                        </ion-col>
                    </ion-card>
                        
                </ion-col>
            </ion-row>

            <ion-row>
                <ion-col size="12" size-xl="12" size-sm="12" size-md="12" size-lg="12">

                    <ion-row>
                            <ion-text color="primary" style="font-size: 10px;" >Subscription Status</ion-text>
                    </ion-row>
                 
                    <ion-card no-margin>
                        <ion-col no-padding size="12" size-xl="12" size-sm="12" size-md="12" size-lg="12">
                                <ion-input placeholder="Subscription Status" inputmode="text"></ion-input>
                        </ion-col>
                    </ion-card>
                        
                </ion-col>
            </ion-row>

            <ion-row>
                <ion-col size="12" size-xl="12" size-sm="12" size-md="12" size-lg="12">

                    <ion-row>
                            <ion-text color="primary" style="font-size: 10px;" >VIP Status</ion-text>
                    </ion-row>
                 
                    <ion-card no-margin>
                        <ion-col no-padding size="12" size-xl="12" size-sm="12" size-md="12" size-lg="12">
                                <ion-input placeholder="VIP Status" inputmode="text"></ion-input>
                        </ion-col>
                    </ion-card>
                        
                </ion-col>
            </ion-row>

            <ion-row>
                <ion-col size="12" size-xl="12" size-sm="12" size-md="12" size-lg="12">

                    <ion-row>
                            <ion-text color="primary" style="font-size: 10px;" >Membership</ion-text>
                    </ion-row>
                 
                    <ion-card no-margin>
                        <ion-col no-padding size="12" size-xl="12" size-sm="12" size-md="12" size-lg="12">
                                <ion-input placeholder="Membership" inputmode="text"></ion-input>
                        </ion-col>
                    </ion-card>
                        
                </ion-col>
            </ion-row>

            <ion-row>
                <ion-col size="12" size-xl="12" size-sm="12" size-md="12" size-lg="12">

                    <ion-row>
                            <ion-text color="primary" style="font-size: 10px;" >Badge(s)</ion-text>
                    </ion-row>
                 
                    <ion-card no-margin>
                        <ion-col no-padding size="12" size-xl="12" size-sm="12" size-md="12" size-lg="12">
                                <ion-input placeholder="Badge(s)" inputmode="text"></ion-input>
                        </ion-col>
                    </ion-card>
                        
                </ion-col>
            </ion-row>
    
        </ion-grid>
    </ion-card>

</ion-content>
