.price{
    color :#7168a1;
    font-size: medium;
}
.message-error{
    margin-left: 20px;
}
// .quantity{
//     margin-bottom: 5px; 
//     width: 20%; 
//     display: inline-block;
// float: right;
// // width: 30px;
// }
.quantity {
    position: absolute;
    bottom: 5px;
    right: 5px;
    border-radius: 2px 2px 2px 2px;
    .qs {
      background-color: #7168a1;
      margin-top: 10px;
      width: 22px;
      padding-left: 4px;
      height: 22px;
      border-radius: 50%;
      border: none;
      text-align: center;
      margin-right: 10px;
      margin-left: 10px;
    }
  }
.minus-item{
    height: 17px;
    margin-right: 5px;
    border-radius: 5px;
}
.add-item{
    height: 17px;
    margin-left: 5px;
    border-radius: 5px;
    --color: #7168a1;
    --background: #7168a1;
}
.cart {
    display: flex;
    justify-content: center;
    padding: 16px 0px;
    
    background: #7168a1;
    .count {
      margin-left: 5px;
      width: 32px;
      height: 20px;
      background: #57bfa1;
      border-radius: 10px;
      display: inline-block;
      text-align: center;
    }
  }
  // .minus-btn{
  //   padding-right: 5px;
  // }