<ion-header>
    <ion-toolbar color="primary" class="animated fadeIn">
    
        <ion-buttons slot="start">
            <ion-back-button mode ="md" icon="arrow-back"></ion-back-button>
        </ion-buttons>
        <ion-text color="light" class="HeaderTitle">Last Stay Details</ion-text>

    
    </ion-toolbar>
  </ion-header>

<ion-content>

 
    <ion-card class="bg-white">
        <ion-grid no-padding>

            <ion-row>
                <ion-col size="12" size-xl="12" size-sm="12" size-md="12" size-lg="12">

                    <ion-row>
                            <ion-text color="primary" style="font-size: 10px;" >Check In</ion-text>
                    </ion-row>
                 
                    <ion-card no-margin>
                        <ion-col no-padding size="12" size-xl="12" size-sm="12" size-md="12" size-lg="12">
                                <ion-input placeholder="Check In" inputmode="text"></ion-input>
                        </ion-col>
                    </ion-card>
                        
                </ion-col>
            </ion-row>

            <ion-row>
                <ion-col size="12" size-xl="12" size-sm="12" size-md="12" size-lg="12">

                    <ion-row>
                            <ion-text color="primary" style="font-size: 10px;" >Check Out</ion-text>
                    </ion-row>
                 
                    <ion-card no-margin>
                        <ion-col no-padding size="12" size-xl="12" size-sm="12" size-md="12" size-lg="12">
                                <ion-input placeholder="Check Out" inputmode="text"></ion-input>
                        </ion-col>
                    </ion-card>
                        
                </ion-col>
            </ion-row>

            <ion-row>
                <ion-col size="12" size-xl="12" size-sm="12" size-md="12" size-lg="12">

                    <ion-row>
                            <ion-text color="primary" style="font-size: 10px;" >No of Night</ion-text>
                    </ion-row>
                 
                    <ion-card no-margin>
                        <ion-col no-padding size="12" size-xl="12" size-sm="12" size-md="12" size-lg="12">
                                <ion-input placeholder="No of Night" inputmode="text"></ion-input>
                        </ion-col>
                    </ion-card>
                        
                </ion-col>
            </ion-row>

            <ion-row>
                <ion-col size="12" size-xl="12" size-sm="12" size-md="12" size-lg="12">

                    <ion-row>
                            <ion-text color="primary" style="font-size: 10px;" >Confirmation Code</ion-text>
                    </ion-row>
                 
                    <ion-card no-margin>
                        <ion-col no-padding size="12" size-xl="12" size-sm="12" size-md="12" size-lg="12">
                                <ion-input placeholder="Confirmation Code" inputmode="text"></ion-input>
                        </ion-col>
                    </ion-card>
                        
                </ion-col>
            </ion-row>

            <ion-row>
                <ion-col size="12" size-xl="12" size-sm="12" size-md="12" size-lg="12">

                    <ion-row>
                            <ion-text color="primary" style="font-size: 10px;" >Property</ion-text>
                    </ion-row>
                 
                    <ion-card no-margin>
                        <ion-col no-padding size="12" size-xl="12" size-sm="12" size-md="12" size-lg="12">
                                <ion-input placeholder="Property" inputmode="text"></ion-input>
                        </ion-col>
                    </ion-card>
                        
                </ion-col>
            </ion-row>
    
        </ion-grid>
    </ion-card>

</ion-content>
