

<ion-header class="headerColor">

    <ion-avatar class="profile">
        <img
        style="object-fit: fill;"
            src="{{this.property.logoUrl}}"
            onerror="this.src='/assets/img/app-logo.png'"
        />
    </ion-avatar>
    
    
    <ion-toolbar>
        <ion-buttons slot="start" class="back" (click)="navigateToPage()">
            <ion-icon name="arrow-back-outline"></ion-icon>
        </ion-buttons>
        <ion-text color="light" class="HeaderTitle">Business Address</ion-text>
        
    </ion-toolbar>
    </ion-header>


  <ion-content style="--padding-start: 0px; --padding-end: 0px;">
    <div *ngIf="!isIndianCurrency">
    <ion-card no-margin>
      <ion-card-content class="bg-profile">
  
        <ion-text class="sub-text-search heading-regular font-12" style="color:white">Search Address By Street Name</ion-text>
        <ion-searchbar [(ngModel)]="searchresult" placeholder="Search by street name" class="list-search" mode="md" (ionClear)="clear($event)" (ionInput)="getItems($event)" no-margin
          no-padding>
        </ion-searchbar>
  
      </ion-card-content>
      <div class="list-holder" no-padding no-margin *ngIf="isAddressSearch">
        <ion-item class="item" *ngFor="let street of this.streets" (click)="onSelect(street)">
          <ion-icon class="business-indicator" src="../../../../assets/icon/arrow-up-right.svg">
          </ion-icon>
          <p class="business-text text-align heading-medium font-14 text-transform">
            {{street.name}}
          </p>
        </ion-item>
      </div>
  
      <ion-progress-bar type="indeterminate" *ngIf="loader" reversed="true"></ion-progress-bar>
  
      <ion-grid no-padding no-margin class="form-holder" *ngIf="!isAddressSearch">
  
        <div *ngIf="!isAddressFound" class="no-address-found">
          <ion-text  class="sub-text-search heading-regular font-13" style="color:white"><b>Street Name Not Found</b></ion-text><br/>
          <ion-text  class="sub-text-search heading-regular font-12" style="color:white">Please input your address manually</ion-text>
        </div>
  
        <form [formGroup]="onAddressForm">
          <ion-row>
            <ion-col size="12" padding>
              <ion-list margin-bottom>
              
                <div *ngIf="isStreetSelect">
  
                  <ion-item>
                    <ion-label class="label" position="stacked" >Street Number</ion-label>
                    <ion-input  inputmode="text" [(ngModel)]="address.streetNumber" formControlName="StreatNumber">
                    </ion-input>
                  </ion-item>
    
                  <ion-item>
                    <ion-label class="label" position="stacked">Street Name</ion-label>
                    <ion-input readonly  inputmode="text" [(ngModel)]="address.streetName"
                      formControlName="StreatName"> </ion-input>
                  </ion-item>
    
    
  
                  <ion-item>
                    <ion-label class="label" position="stacked">City*</ion-label>
              
                    <ion-input inputmode="text" readonly [(ngModel)]="address.city" formControlName="City"></ion-input>
    
                  </ion-item>
    
                  <ion-item>
                    <ion-label class="label" position="stacked">Suburb*</ion-label>
    
                    <ion-input inputmode="text" readonly  [(ngModel)]="address.suburb" formControlName="Suburb"></ion-input>
                    
                  </ion-item>
    
                  <ion-item>
                    <ion-label class="label" position="stacked">Locality</ion-label>
                    <ion-input inputmode="text" [(ngModel)]="address.locality" formControlName="Locality"> </ion-input>
                    <!-- <ion-icon name="person" color="primary" slot="end"></ion-icon> -->
                  </ion-item>
    
    
    
                  <ion-item>
                    <ion-label class="label" position="stacked">State*</ion-label>
                   
                    <ion-input inputmode="text" readonly  [(ngModel)]="address.state" formControlName="State"></ion-input>
    
                  </ion-item>
    
                  <!-- value="{{CodeNumber}}"  -->
                  <ion-item>
                    <ion-label class="label" position="stacked">Country*</ion-label>
  
                    
                    <ion-input inputmode="text" readonly  [(ngModel)]="address.country" formControlName="Country"></ion-input>
  
                  </ion-item>
  
                  
                  <ion-item>
                    <ion-label class="label" position="stacked">Postcode</ion-label>
                    <ion-input inputmode="text" readonly="{{isStreetSelect}}" [(ngModel)]="address.postcode" formControlName="Postcode"> </ion-input>
                  </ion-item>
  
                </div>
  
                
                <div *ngIf="!isStreetSelect">
  
                  <ion-item>
                    <ion-label class="label" position="stacked">Street Number</ion-label>
                    <ion-input inputmode="text" [(ngModel)]="address.streetNumber" formControlName="StreatNumber">
                    </ion-input>
                  </ion-item>
    
                  <ion-item>
                    <ion-label class="label" position="stacked">Street Name</ion-label>
                    <ion-input  inputmode="text" [(ngModel)]="address.streetName"
                      formControlName="StreatName"> </ion-input>
                  </ion-item>
    
  
                  <ion-item>
                    <ion-label class="label" position="stacked">City*</ion-label>
                    <!-- <ion-input inputmode="text" [(ngModel)]="address.city" 
                  formControlName="City" > </ion-input> 
                (ionChange)="getSelectedCity($event)"-->
    
                    <ion-select class="form-textbox custom-options" [(ngModel)]="address.city" formControlName="City" (ionChange)="getSuburbBycity()"
                      placeholder="Select City">
                      <ion-select-option *ngFor="let city of cities" value="{{city.name}}">{{city.name}}
                      </ion-select-option>
    
                    </ion-select>
    
                  </ion-item>
    
                  <ion-item>
                    <ion-label class="label" position="stacked">Suburb*</ion-label>
    
                    <ion-select class="form-textbox custom-options" [(ngModel)]="address.suburb" formControlName="Suburb"
                      placeholder="Select Suburb">
                      <ion-select-option *ngFor="let subub of suburbs" value="{{subub.name}}">{{subub.name}}
                      </ion-select-option>
    
                    </ion-select>
    
                  </ion-item>
  
                  <ion-item>
                    <ion-label class="label" position="stacked">Locality</ion-label>
                    <ion-input inputmode="text" [(ngModel)]="address.locality" formControlName="Locality"> </ion-input>
                  </ion-item>
  
    
                  <ion-item>
                    <ion-label class="label" position="stacked">State*</ion-label>
                    <!-- <ion-input inputmode="text" [(ngModel)]="address.state" 
                  formControlName="State" > </ion-input> -->
    
                    <ion-select class="form-textbox custom-options"  [(ngModel)]="address.state" formControlName="State"
                      placeholder="Select State">
                      <ion-select-option *ngFor="let state of states" value="{{state.name}}">{{state.name}}
                      </ion-select-option>
    
                    </ion-select>
    
                  </ion-item>
    
                  <!-- value="{{CodeNumber}}"  -->
                  <ion-item>
                    <ion-label class="label" position="stacked">Country*</ion-label>
                    <ion-select class="form-textbox custom-options" [(ngModel)]="address.country" formControlName="Country" (ionChange)="addresssChange()"
                      placeholder="Select Country">
                      <ion-select-option *ngFor="let country of countries" value="{{country.name}}">{{country.name}}
                      </ion-select-option>
    
                    </ion-select>
                  </ion-item>
  
                  <ion-item>
                    <ion-label class="label" position="stacked">Postcode</ion-label>
                    <ion-input inputmode="text" readonly="{{isStreetSelect}}" [(ngModel)]="address.postcode" formControlName="Postcode"> </ion-input>
                  </ion-item>
    
  
                </div>
  
                
  
              </ion-list>
  
            </ion-col>
  
          </ion-row>

            <div class="ion-margin-vertical" *ngIf="!isLoginFrom">
          
              <ion-button icon-left size="medium" class="update-button" expand="full" shape="round" [disabled]="!onAddressForm.valid || loader" (click)="Update()"
               tappable  style="color:white" >
                Save
              </ion-button>
            </div>
  
  
          <ion-row *ngIf="isLoginFrom" class="button-padding">
            <ion-col size="6">
              <ion-button expand="block" class="violet-button font-14" type="submit" (click)="Later()"  style="color:white">
                Later
              </ion-button>
            </ion-col>
            <ion-col size="6">
              <ion-button expand="block" class=" violet-button font-14" type="submit"
                [disabled]="!onAddressForm.valid || loader" (click)="Update()"  style="color:white">
                Update
              </ion-button>
            </ion-col>
          </ion-row>
  
  
  
        </form>
      </ion-grid>
    </ion-card>
</div>

  <!--  indian instance  -->

    <div *ngIf="isIndianCurrency">
    <ion-card no-margin>
      <ion-card-content class="bg-profile">
  
        <ion-text class="sub-text-search heading-regular font-12"  style="color:white">Search Address By City Name</ion-text>
        <ion-searchbar [(ngModel)]="searchresult" placeholder="Search by city name" class="list-search" mode="md" (ionClear)="clear($event)" (ionInput)="getItemsByCityName($event)" no-margin
          no-padding>
        </ion-searchbar>
  
      </ion-card-content>
      <div class="list-holder" no-padding no-margin *ngIf="isAddressSearch">
        <ion-item class="item" *ngFor="let city of this.citiesSearch" (click)="onSelectCity(city)">
          <ion-icon class="business-indicator" src="../../../../assets/icon/arrow-up-right.svg">
          </ion-icon>
          <p class="business-text text-align heading-medium font-14 text-transform">
            {{city.name}}
          </p>
        </ion-item>
      </div>
  
      <ion-progress-bar type="indeterminate" *ngIf="loader" reversed="true"></ion-progress-bar>
  
      <ion-grid no-padding no-margin class="form-holder" *ngIf="!isAddressSearch">
  
        <div *ngIf="!isAddressFound" class="no-address-found">
          <ion-text  class="sub-text-search heading-regular font-13"  style="color:white"><b>City Name Not Found</b></ion-text><br/>
          <ion-text  class="sub-text-search heading-regular font-12"  style="color:white">Please input your address manually</ion-text>
        </div>
  
        <form [formGroup]="onAddressForm">
          <ion-row>
            <ion-col size="12" padding>
              <ion-list margin-bottom>
              
                <div *ngIf="isStreetSelect">
  
                  <ion-item>
                    <ion-label class="label" position="stacked">Street Number</ion-label>
                    <ion-input  inputmode="text" [(ngModel)]="address.streetNumber" formControlName="StreatNumber">
                    </ion-input>
                  </ion-item>
    
                  <ion-item>
                    <ion-label class="label" position="stacked">Street Name</ion-label>
                    <ion-input inputmode="text" [(ngModel)]="address.streetName"
                      formControlName="StreatName"> </ion-input>
                  </ion-item>
    
    
  
                  <ion-item>
                    <ion-label class="label" position="stacked">City*</ion-label>
              
                    <ion-input *ngIf="address.city != undefined && address.city != null" inputmode="text" readonly [(ngModel)]="address.city" formControlName="City"></ion-input>
    
                    <ion-select *ngIf="address.city == undefined || address.city == null" class="form-textbox custom-options" [(ngModel)]="address.city" formControlName="City" (ionChange)="selectCity()"
                      placeholder="Select City">
                      <ion-select-option *ngFor="let city of cities" value="{{city.name}}">{{city.name}}
                      </ion-select-option>
    
                    </ion-select>

                  </ion-item>
    
                  <ion-item>
                    <ion-label class="label" position="stacked">Suburb*</ion-label>
    
                    <ion-input inputmode="text" readonly *ngIf="address.suburb != undefined && address.suburb != null"  [(ngModel)]="address.suburb" formControlName="Suburb"></ion-input>

                    <ion-select *ngIf="address.suburb == undefined || address.suburb == null" class="form-textbox custom-options" [(ngModel)]="address.suburb" formControlName="Suburb"
                      placeholder="Select Suburb">
                      <ion-select-option *ngFor="let subub of suburbs" value="{{subub.name}}">{{subub.name}}
                      </ion-select-option>
    
                    </ion-select>
    
                    
                  </ion-item>
    
                  <ion-item>
                    <ion-label class="label" position="stacked">Locality</ion-label>
                    <ion-input inputmode="text" [(ngModel)]="address.locality" formControlName="Locality"> </ion-input>
                    <!-- <ion-icon name="person" color="primary" slot="end"></ion-icon> -->
                  </ion-item>
    
    
    
                  <ion-item>
                    <ion-label class="label" position="stacked">State*</ion-label>
                   
                    <ion-input inputmode="text" *ngIf="address.state != null && address.state != undefined" readonly  [(ngModel)]="address.state" formControlName="State"></ion-input>
    
                    <ion-select *ngIf="address.state == null || address.state == undefined" class="form-textbox custom-options"  [(ngModel)]="address.state" formControlName="State"
                    placeholder="Select State">
                    <ion-select-option *ngFor="let state of states" value="{{state.name}}">{{state.name}}
                    </ion-select-option>
  
                  </ion-select>

                  </ion-item>
    
                  <!-- value="{{CodeNumber}}"  -->
                  <ion-item>
                    <ion-label class="label" position="stacked">Country*</ion-label>
  
                    
                    <ion-input inputmode="text" readonly  [(ngModel)]="address.country" formControlName="Country"></ion-input>
  
                  </ion-item>
  
                  
                  <ion-item>
                    <ion-label class="label" position="stacked">Postcode</ion-label>
                    <ion-input inputmode="text" [(ngModel)]="address.postcode" formControlName="Postcode"> </ion-input>
                  </ion-item>
  
                </div>
  
                
                <div *ngIf="!isStreetSelect">
  
                  <ion-item>
                    <ion-label class="label" position="stacked">Street Number</ion-label>
                    <ion-input inputmode="text" [(ngModel)]="address.streetNumber" formControlName="StreatNumber">
                    </ion-input>
                  </ion-item>
    
                  <ion-item>
                    <ion-label class="label" position="stacked">Street Name</ion-label>
                    <ion-input  inputmode="text" [(ngModel)]="address.streetName"
                      formControlName="StreatName"> </ion-input>
                  </ion-item>
    
  
                  <ion-item>
                    <ion-label class="label" position="stacked">City*</ion-label>
                    <!-- <ion-input inputmode="text" [(ngModel)]="address.city" 
                  formControlName="City" > </ion-input> 
                (ionChange)="getSelectedCity($event)"-->
    
                    <ion-select class="form-textbox custom-options" [(ngModel)]="address.city" formControlName="City" (ionChange)="selectCity()"
                      placeholder="Select City">
                      <ion-select-option *ngFor="let city of cities" value="{{city.name}}">{{city.name}}
                      </ion-select-option>
    
                    </ion-select>
    
                  </ion-item>
    
                  <ion-item>
                    <ion-label class="label" position="stacked">Suburb*</ion-label>
    
                    <ion-select class="form-textbox custom-options" [(ngModel)]="address.suburb" formControlName="Suburb"
                      placeholder="Select Suburb">
                      <ion-select-option *ngFor="let subub of suburbs" value="{{subub.name}}">{{subub.name}}
                      </ion-select-option>
    
                    </ion-select>
    
                  </ion-item>
  
                  <ion-item>
                    <ion-label class="label" position="stacked">Locality</ion-label>
                    <ion-input inputmode="text" [(ngModel)]="address.locality" formControlName="Locality"> </ion-input>
                  </ion-item>
  
    
                  <ion-item>
                    <ion-label class="label" position="stacked">State*</ion-label>
                    <!-- <ion-input inputmode="text" [(ngModel)]="address.state" 
                  formControlName="State" > </ion-input> -->
    
                    <ion-select class="form-textbox custom-options"  [(ngModel)]="address.state" formControlName="State"
                      placeholder="Select State">
                      <ion-select-option *ngFor="let state of states" value="{{state.name}}">{{state.name}}
                      </ion-select-option>
    
                    </ion-select>
    
                  </ion-item>
    
                  <!-- value="{{CodeNumber}}"  -->
                  <ion-item>
                    <ion-label class="label" position="stacked">Country*</ion-label>
                    <ion-select class="form-textbox custom-options" [(ngModel)]="address.country" formControlName="Country" (ionChange)="addresssChange()"
                      placeholder="Select Country">
                      <ion-select-option *ngFor="let country of countries" value="{{country.name}}">{{country.name}}
                      </ion-select-option>
    
                    </ion-select>
                  </ion-item>
  
                  <ion-item>
                    <ion-label class="label" position="stacked">Postcode</ion-label>
                    <ion-input inputmode="text" readonly="{{isStreetSelect}}" [(ngModel)]="address.postcode" formControlName="Postcode"> </ion-input>
                  </ion-item>
    
  
                </div>
  
                
  
              </ion-list>
  
            </ion-col>
  
          </ion-row>

            <div class="ion-margin-vertical" *ngIf="!isLoginFrom">
          
              <ion-button icon-left size="medium" class="update-button" expand="full" shape="round" [disabled]="!onAddressForm.valid || loader" (click)="Update()"
               tappable  style="color:white">
                Save
              </ion-button>
            </div>
  
  
          <ion-row *ngIf="isLoginFrom" class="button-padding">
            <ion-col size="6">
              <ion-button expand="block" class="violet-button font-14" type="submit" (click)="Later()"  style="color:white">
                Later
              </ion-button>
            </ion-col>
            <ion-col size="6">
              <ion-button expand="block" class=" violet-button font-14" type="submit"
                [disabled]="!onAddressForm.valid || loader" (click)="Update()"  style="color:white">
                Update
              </ion-button>
            </ion-col>
          </ion-row>
  
  
  
        </form>
      </ion-grid>
    </ion-card>
</div>
</ion-content>
