<ion-content padding class="animated fadeIn login auth-page">

    <div class="auth-content">
      <!-- Logo -->
      <div padding-horizontal text-center class="animated fadeInDown">
        <div class="logo"></div>
        <h4 no-margin>
          <ion-text color="light">
            {{ headerMessage }}
            <ion-text color="secondary" class="fw700"></ion-text>
          </ion-text>
        </h4>
      </div>
  
      <!-- Register form -->
      <form [formGroup]="onResetPasswordForm" class="list-form">
  
      <ion-item no-padding class="animated fadeInUp">
      <ion-label position="floating">
          <ion-icon name="lock" item-start></ion-icon>
          {{ 'app.pages.forgotpassword.text.password'| translate}}
      </ion-label>
      <ion-input 
           color="secondary" type="password" 
           formControlName="password"
           [disabled] = "isDisableInput"
           [(ngModel)]="model.password"
           (ngModelChange)="passwordFunction($event)">
        </ion-input>
      </ion-item>
      <p ion-text color="danger" class="text08" *ngIf="onResetPasswordForm.get('password').touched && onResetPasswordForm.get('password').hasError('required')">
        <ion-text color="danger">
                {{ 'app.label.errors.field' | translate }}
        </ion-text>
        </p>

        <p ion-text color="danger" class="text08" *ngIf="onResetPasswordForm.get('password').dirty && !isPasswordValid">
            <ion-text color="danger">
                {{ 'app.label.text.passwordvalidation' | translate }}
            </ion-text>
        </p>
        <p ion-text class="text08" *ngIf="onResetPasswordForm.get('password').dirty && isPasswordValid">
            <ion-text color="light">
               {{ 'app.label.text.passwordverified'| translate }}
            </ion-text>
        </p>
     
      <ion-item no-padding class="animated fadeInUp">
          <ion-label position="floating">
              <ion-icon name="lock" item-start></ion-icon>
           {{ 'app.pages.forgotpassword.text.confirmpassword' | translate}}
          </ion-label>
          <ion-input 
          color="secondary" type="password"  
          formControlName="confirmPassword" 
          [disabled] = "isDisableInput"
          (ngModelChange)="confirmPasswordFunction($event)"
          
          >
         </ion-input>
        </ion-item>

        <p ion-text color="danger" class="text08" *ngIf="onResetPasswordForm.get('confirmPassword').touched && onResetPasswordForm.get('confirmPassword').hasError('required')">
            <ion-text color="danger">
                    {{ 'app.label.errors.field' | translate }}
            </ion-text>
        </p>

        <p ion-text class="text08" *ngIf="onResetPasswordForm.get('password').touched && passwordMatched" >
            <ion-text  color="light">
                {{ 'app.label.text.passwordmatch' | translate }}
            </ion-text>
            </p>
            <p ion-text class="text08" *ngIf="onResetPasswordForm.get('password').touched && passwordMatched == false" >
            <ion-text color="danger">
                {{ 'app.label.text.passworddoesnotmatch' | translate }}
            </ion-text>
            </p>
        
  
      </form>
  
      <div margin-top>
        <ion-button icon-left size="medium" expand="full" shape="round" color="dark" 
        (click)="ChangePassword()" [disabled]="!onResetPasswordForm.valid || !passwordMatched "
          tappable>
          <ion-icon name="log-in"></ion-icon>
          {{ 'app.button.changepassword' | translate}}
        </ion-button>
  
  
      </div>
  
    
  
    </div>
  </ion-content>