:host {
    ion-content {
        --padding-start:10px;
        --padding-end : 10px;
        --padding-top : 10px;
        --padding-bottom: 10px;
        --background: #fff;
    }
    .name-title-text{
        margin-left: 5px;
    }

    .listcard{
        margin-top: 2px;
        margin-bottom: 2px;
        padding: 5px;
    }
    .invoice-button{
        margin-top: 8px;
        margin-right: 5px;
    }

    .datetime-box {
        border-radius: 10px;
        border: 1px solid #000;
        display: inline-block;
        align-items: center;
        justify-content: center;
        width: 100%;
        position: relative;
        padding: 0px;

        }

        .date-btn {
            font-size: 13px;
            text-align: left;
            }

        .calendar-icon {
            margin-left: 10px;
           position: absolute;
            right: 10px;      /* adjust spacing */
            top: 50%;
            transform: translateY(-50%);
            color: #333;
            font-size: 20px;
            cursor: pointer;
        }

      
      ion-datetime {
        width: 100%;
        padding-right: 35px; /* Add padding to prevent overlapping with the icon */
      }
      
      .datetime-icon {
        position: absolute;
        top: 50%;
        right: 10px;
        transform: translateY(-50%);
        font-size: 20px;
        color: gray;
        pointer-events: none; /* Ensures the icon does not block interactions with ion-datetime */
      }

    @media (min-width: 576px) {
        .profile {
            z-index: 100;
            position: absolute;
            top: -4px;
            right: 0px;
            height: 70px !important;
            width: 70px !important;
            border: 2px solid white !important;
            box-shadow: 2px 2px 3px #999;
            margin-right: 6px;
            margin-top: 6px;
        }
        .left-image-header {
            z-index: 1;
            position: absolute;
            top: 0px;
            right: 0px;
            height: 22.5vw;
        }
    
        ion-toolbar {
            --background: #1D174D;
            height: 80px;
            border: none;
        }
    }

    @media (max-width: 576px) {
        ion-toolbar {
            top: 0px;
            --background: #1D174D;
            border: none;
            height: 71px;
            
        }
    }
    .reset-btn {
        --background: #E84424;
    color: #fff
    }

    .left-image-header {
        z-index: 1;
        position: absolute;
        top: 0px;
        right: 0px;
        height: 22.5vw;
    }
    
    .HeaderTitle {
        color: white;
        margin-left: 10px;
        margin-right: 10px;
        margin-top: -17px;
    
    }
    
    .profile {
        z-index: 100;
        position: absolute;
        top: 0px;
        right: 0px;
        height: 15vw;
        width: 15vw;
        border: 2px solid white !important;
        box-shadow: 2px 2px 3px #999;
        margin-right: 6px;
        margin-top: 6px;
    }
    
    .HeaderSubTitle {
        position: absolute;
        top: 37px;
        left: 41px;
        font-size: 12px;
        z-index: 100;
    }
    
    .back {
        margin-left: 10px;
        color: white;
    }
}
ion-datetime-button::part(native) {
  background: transparent !important;
 
  
}