

<ion-header class="ion-no-border">


    <ion-avatar class="profile">
        <img
        style="object-fit: fill;"
        src="{{this.property.logoUrl}}"
        onerror="this.src='/assets/img/app-logo.png'"
    />
    </ion-avatar>

    <ion-text class="HeaderSubTitle"> Manage Payment </ion-text>
    <ion-toolbar>
        <ion-buttons slot="start" class="back">
            <ion-icon name="arrow-back-outline" (click)="navigateToPage()" style="font-size: 20px; margin-top: -10px;"></ion-icon>
            <ion-text color="light" class="HeaderTitle" 
                >Accommodation</ion-text
            >
            <!-- <ion-img
            style="height:50px; margin-top: -6px;"
                src="/assets/img/icons/arrow-down-white.svg"
                (click)="onMenu()"
            ></ion-img> -->
        </ion-buttons>
        <!-- <ion-text color="light" class="HeaderTitle">Accommodation</ion-text> -->
    </ion-toolbar>
</ion-header>

<ion-content class="ion-no-margin ion-no-padding">

    <ion-searchbar mode="md" (ionClear)="clear($event)" (ionInput)="getItems($event)"
        class="ion-no-margin ion-no-padding marginup">
    </ion-searchbar>

    <!-- <ion-row>
            <ion-segment (ionChange)="paymentChanged()"
                [(ngModel)]="paymentSearchSelection">
                <ion-segment-button value="findPayment">
                    <ion-label>Find Payment </ion-label>
                </ion-segment-button>
                <ion-segment-button value="allPayment">
                    <ion-label>All Payment</ion-label>
                </ion-segment-button>
            </ion-segment>
    </ion-row> -->



    <ion-grid class="ion-no-margin ion-no-padding">

        <div >
            <form [formGroup]="onFindPaymentForm">
    
                <ion-row>
                    <ion-col size="5.6" style="margin: 5px;">
    
                        <ion-text color="primary" class="check-in-out-text" style="font-size: 12px;">From
                        </ion-text>
                        <ion-row>
                            <ion-col no-padding size="12">
                                <div class="datetime-container">
                                  <ion-datetime 
                                    [(ngModel)]="fromDateString" 
                                    style="border: 1px solid gray" 
                                    (ionChange)="fromDateChange()" 
                                    formControlName="bookingFromDate" 
                                    class="datepicker" 
                                    color="primary" 
                                    displayFormat="DD/MM/YYYY" 
                                    pickerFormat="DD/MM/YYYY" 
                                    placeholder="DD/MM/YYYY"
                                    min= "2000-12-31"
                                    max="2100-12-31"
                                    >
                                  </ion-datetime>
                                  <ion-icon name="calendar-outline" class="datetime-icon" style="color: #F89A34"></ion-icon>
                                </div>
                              </ion-col>
                        </ion-row>
                    </ion-col>
    
                    <ion-col size="5.6" style="margin: 5px;">
                        <ion-text color="primary" class="check-in-out-text" style="font-size: 12px;">To
                        </ion-text>
                    
                        <ion-row>
                            <ion-col no-padding size="12">
                                <div class="datetime-container">
                                  <ion-datetime 
                                  style="border: 1px solid gray" 
                                    [(ngModel)]="toDateString" 
                                    min= "{{fromDateString}}"
                                    max="2100-12-31"
                                    formControlName="bookingToDate" 
                                    class="datepicker" 
                                    color="primary" 
                                    displayFormat="DD/MM/YYYY" 
                                    pickerFormat="DD/MM/YYYY" 
                                    placeholder="Select Date">
                                  </ion-datetime>
                                  <ion-icon name="calendar-outline" style="color: #F89A34" class="datetime-icon"></ion-icon>
                                </div>
                              </ion-col>
                        </ion-row>
    
                    </ion-col>
    
                </ion-row>
    
    
    
                <ion-row class="action-button">
                    <ion-col size="6">
                        <ion-button expand="block" class="btn-reset" (click)="ResetAllField()">Reset</ion-button>
                    </ion-col>
                    <ion-col size="6" >
                        <ion-button expand="block" color="primary" (click)="findPayment()" [disabled]="!onFindPaymentForm.valid|| isProgressing">
                            Find</ion-button>
                    </ion-col>
                </ion-row>
    
        
            </form>
        </div>

        <ion-list>
            <div *ngFor="let payment of paymentListData | paginate: { itemsPerPage: 5, currentPage: p }; let i = index">
                <ion-card >
                    <!-- <ion-card > -->
                    <ion-card-header  (click)="toggleCardBody(i)" [ngStyle]="{'background-color': i % 2 === 0 ? '#D3EBF2' : '#FEEBD6'}">
                        <ion-row>
                            <ion-col size="5" style="color: #333">
                                <ion-text>Id:</ion-text>
                                <ion-text class="TextValue">{{payment.id}}</ion-text>
                            </ion-col>

                            <ion-col size="5" style="color: #333">
                                <ion-text >Date:</ion-text>
                                <ion-text class="TextValue">
                                    {{payment.date | date:'MMM d, y'}}
                                </ion-text>
                            </ion-col>
                            <ion-col size="2" (click)="onPaymentOption(payment)" style="    display: flex; color: #333;
                                justify-content: end;
                            ">
                                <ion-icon name="ellipsis-vertical"></ion-icon>
                            </ion-col>
                            <!-- <ion-col size="1">
                                <ion-row>
                                    <ion-icon (click)="onPaymentOption(payment);" name="ellipsis-vertical-outline"></ion-icon>
                                    
                                </ion-row>
                            </ion-col> -->
                        </ion-row>
                    </ion-card-header>
                    <ion-card-content  *ngIf="openedCardIndex === i" style="    border: 1px solid gray; padding: 12px;">
                        <ion-row >
                            <ion-col size="12">
                                <ion-text color="primary">Payment Reference No:</ion-text>
                                <ion-text class="TextValue">{{payment.referenceNumber}}</ion-text>
                            </ion-col>

                            <!-- <ion-col size="12">
                                
                            </ion-col> -->

                            <ion-col size="12">
                                <ion-text color="primary">Description:</ion-text>
                                <ion-text class="TextValue">{{payment.description}}</ion-text>
                            </ion-col>

                            <ion-col size="12">
                                <ion-text color="primary">Amount:</ion-text>
                                <ion-text class="TextValue">
                                    {{payment.transactionAmount| currency: token.getProperty().localCurrency.toUpperCase():'symbol':'1.2-2' }}
                                </ion-text>
                            </ion-col>

                            <ion-col size="12">
                                <ion-text color="primary">Status:</ion-text>
                                <ion-text class="TextValue">{{payment.status}}</ion-text>
                            </ion-col>

                            <ion-col size="12">
                                <ion-text color="primary">Mode:</ion-text>
                                <ion-text class="TextValue">{{payment.paymentMode}}</ion-text>
                            </ion-col>

                        </ion-row>
                    </ion-card-content>

                </ion-card>

            </div>

        </ion-list>

        <pagination-controls (pageChange)="p = $event"></pagination-controls>



    </ion-grid>

    <ion-fab vertical="bottom" horizontal="end" slot="fixed">
        <ion-fab-button (click)="createPayment()">
            <ion-icon name="add"></ion-icon>
        </ion-fab-button>
    </ion-fab>

    <div class="loader-everyOne" *ngIf="isProgressing">
        <ion-spinner name="crescent" class="spinner"></ion-spinner>
        <div class="loader-content">
          <img src="/assets/img/loader-logo.png" alt="Loader Image" class="loader-image">
          <div class="loader-text">Please wait...</div>
        </div>
      </div>
 

    
   
       
  
      
</ion-content>

<ion-footer>
<ion-toolbar>
    <app-footer></app-footer>
</ion-toolbar>
</ion-footer>
