<ion-header>
    <ion-toolbar color="primary" class="animated fadeIn">
      <!-- <ion-buttons slot="start">
        <ion-menu-button color="secondary"></ion-menu-button>
      </ion-buttons> -->
      <!-- <ion-title> -->
        <ion-buttons slot="start">
            <ion-back-button mode ="md" icon="arrow-back"></ion-back-button>
        </ion-buttons>
        <ion-text color="light" class="HeaderTitle">Forgot Password</ion-text>

    
    </ion-toolbar>
  </ion-header>

  <ion-content padding class="animated fadeIn login auth-page">
    <!-- <video autoplay loop muted class="video-bg" playsinline webkit-playsinline> -->
      <!-- <source src="assets/video/footage-hotel.mp4" type='video/mp4; codecs="h.264"'>
      <source src="assets/video/footage-hotel.webm" type="video/webm"> -->
    <!-- </video> -->
  <!-- // -->
    <ion-grid style="height: 100%">
          <ion-row justify-content-center align-items-center  style="height: 100%">
              <ion-col size="12"  class="text-center ion-margin-top ion-justify-content-center">
              <div class="auth-content">
  
                  <!-- Logo -->

                  <div *ngIf="stepNumber === '1'"> 

                    <div padding-horizontal text-center class="animated fadeInDown ion-margin-top">
                      <div class="logo"></div>
                      <h4 no-margin style="color:#333" class="app-name text-center" style="color:#333">
                          {{ 'app.name' | translate }}
                          <!-- <ion-text color="secondary" class="fw700"> {{ 'app.version' | translate }}</ion-text> -->
                      </h4>
                       <h5 class="text-align heading-semibold" style="color:#333">Forgot Password </h5>
                       <h6 class="text-align icon-text heading-regular" style="color:#333">
                        Please enter your email to send OTP
                       </h6>
                  </div>

                  <form [formGroup]="onCheckEmailForm" >
                    <ion-item no-padding class="animated fadeInUp">
                    <ion-label position="floating">
                        <ion-icon name="mail" item-start style="color:#333"></ion-icon>
                        {{ 'app.label.email' | translate }}
                    </ion-label>
                    <ion-input style="color:#333; " type="email" [(ngModel)]="model.email" value ="{{model.username}}"  formControlName="EmailControll"></ion-input>
                    </ion-item>
                    <p ion-text class="text08" *ngIf="onCheckEmailForm.get('EmailControll').touched && onCheckEmailForm.get('EmailControll').hasError('required')">
                    <ion-text color="danger">
                        {{ 'app.label.errors.field' | translate }}
                    </ion-text>
                    </p>

                    <p ion-text class="text08" *ngIf="onCheckEmailForm.get('EmailControll').dirty && !onCheckEmailForm.valid">
                        <ion-text color="danger">
                            <ion-text color="danger" style="font-size: 15px;">Please type vaild email address</ion-text>
                        </ion-text>
                        </p>


                    <ion-row >
                       
                    </ion-row>
            
                
                <div padding-horizontal text-center class="animated fadeInDown ion-margin-top" *ngIf="onCheckEmailForm.valid && isUserCheckRq  && !isUserExisting">
                     <h5 class="text-align heading-semibold"> <ion-text color="danger" style="font-size: 15px;" class="text-align icon-text">You are not existing user</ion-text></h5>
                </div>
            
            
                <div class="ion-margin-vertical">
                    <ion-button icon-left size="medium" expand="full" shape="round" style="color:#fff" (click)="checkUser()" [disabled]="!onCheckEmailForm.valid || loader" tappable>
                    <ion-icon name="log-in" color="light"></ion-icon>
                   Send OTP
                    </ion-button>
            
            
                </div>

            </form>

                  </div>

                  <div *ngIf="stepNumber === '2'"> 

                    <div padding-horizontal text-center class="animated fadeInDown ion-margin-top">
                      <div class="logo"></div>
                      <h4 no-margin style="color:#333" class="app-name text-center" >
                          {{ 'app.name' | translate }}
                          <!-- <ion-text color="secondary" class="fw700"> {{ 'app.version' | translate }}</ion-text> -->
                      </h4>
                       <h5 class="text-align heading-semibold" style="color:#333">Verification code send to your email </h5>
                       <h6 class="text-align icon-text heading-regular" style="color:#333">
                        Please input the verification code
                       </h6>
                  </div>

                  <ion-row class="form-holder mt-2">
                    <ion-col size="12" class="form-inputs">
                      <!-- <code-input [isCodeHidden]="false" style="color:#333"
                      [isNonDigitsCode]="false"
                      [codeLength]="6"
                      (codeChanged)="onCodeChanged($event)"
                      (codeCompleted)="onCodeCompleted($event)"> -->
                   <!-- </code-input> -->
                 
                    </ion-col>
            
                    <ion-col text-center size="12" no-padding *ngIf="isOtpSendSuccessFully" (click)="onResend()">
                      <p class="text-align  heading-semibold" color="light">
                        Resend OTP
                      </p>
                    </ion-col>
            
                  </ion-row>


                  </div>

                  <div *ngIf="stepNumber === '3'"> 

                    <div padding-horizontal text-center class="animated fadeInDown ion-margin-top">
                      <div class="logo"></div>
                      <h4 no-margin style="color:#333" class="app-name text-center">
                          {{ 'app.name' | translate }}
                          <!-- <ion-text color="secondary" class="fw700"> {{ 'app.version' | translate }}</ion-text> -->
                      </h4>
                       <h5 class="text-align heading-semibold" style="color:#333">Change Password</h5>
                       <!-- <h6 class="text-align icon-text light heading-regular">
                        Please input the verification code
                       </h6> -->
                  </div>

                  <form  [formGroup]="PasswordForm" > 

                    <ion-row>
                        <ion-col size="12" padding>
                    
                            <ion-list margin-bottom>
                                <!-- <ion-list-header color="light">
                                  <ion-label class="fw700">Business Infor</ion-label>
                                </ion-list-header> -->
                        
                            <ion-row>
                                <ion-col size ="12" >
                                    <ion-list>    
                                        <ion-item>
                                            <ion-label color="dark" position="stacked">Password*</ion-label>
                                            <ion-input inputmode="password" type="password"  formControlName="Password"  
                                            [(ngModel)]="changePassword.password"
                                            (ngModelChange)="passwordFunction($event)" ></ion-input>
                                        </ion-item>
                                    </ion-list>
                                </ion-col>
                                    
                            </ion-row> 
                            <p ion-text color="danger" class="text08" *ngIf="PasswordForm.get('Password').touched && PasswordForm.get('Password').hasError('required')">
                                <ion-text color="danger">
                                       Input Field Empty
                                </ion-text>
                                </p>
                            
                                <p ion-text color="danger" class="text08" *ngIf="PasswordForm.get('Password').dirty && !isPasswordValid">
                                    <ion-text color="danger">
                                        Password should have minimum 8 characters, at least 1 uppercase letter, 1 lowercase letter, 1 number and 1 special character
                                    </ion-text>
                                </p>
                            
                                <p ion-text class="text08" *ngIf="PasswordForm.get('Password').dirty && isPasswordValid">
                                    <ion-text color="success">
                                        Pattern Matched
                                    </ion-text>
                                </p>    
                                
                            <ion-row>
                                <ion-col size ="12" >
                                    <ion-list>    
                                        <ion-item>
                                            <ion-label color="dark" position="stacked">Confirm Password*</ion-label>
                                            <ion-input inputmode="password" type="password"  formControlName="Cpassword"  
                                            (ngModelChange)="confirmPasswordFunction($event)"
                                            [(ngModel)]="changePassword.confirmPassword" ></ion-input>
                                        </ion-item>
                                    </ion-list>
                                </ion-col>
                                   
                            </ion-row> 
    
                            <p ion-text class="text08" *ngIf="PasswordForm.get('Cpassword').touched && PasswordForm.get('Cpassword').hasError('required')">
                                <ion-text color="danger">
                                    Input Field Empty 
                                </ion-text>
                                </p>
                        
                                <p ion-text class="text08" *ngIf="PasswordForm.get('Cpassword').dirty && passwordMatched == true && hasLength" >
                                <ion-text  color="success">
                                    Password matched
                                </ion-text>
                                </p>
                                <p ion-text class="text08" *ngIf="PasswordForm.get('Cpassword').dirty && passwordMatched == false && hasLength" >
                                <ion-text color="danger">
                                    Password not matched
                                </ion-text>
                                </p>
                                    
                            
                           
    
                          
                              
                        
                              </ion-list>
                    
                      
                            </ion-col>
                          </ion-row>
    
                          <div class="ion-margin-vertical">
                            <ion-button icon-left size="medium" class="update-button" expand="full" shape="round" color="light" (click)="onSubmit()"
                            [disabled]="!PasswordForm.valid || !passwordMatched|| !this.isPasswordValid ||loader" tappable>
                          
                            Create
                            </ion-button>
                    
                    
                        </div>
    
                    
                
    
    
            </form>


                  </div>



                  
              
                  <ion-row class="form-holder  ion-justify-content-center ion-align-items-center">
                    <ion-col size="12" text-center>
                      <div class="login-link text-align">
                        <p class=" heading-regular font-12" style="color:#333">
                          Go to
                          <a href="login" class="login heading-medium font-12" style="color:#333">
                           <b>Sign In</b> 
                          </a> page
                        </p>
                      </div>
                    </ion-col>
                  </ion-row>
              
                 
              
              
              
          </div>
  
      </ion-col>
      <!-- <ion-col class="ion-margin-bottom text-center ion-justify-content-center ion-align-items-end"  size="12" no-padding>
          <p class="light text-center  ion-align-items-end">
            <ion-icon name="phone-portrait-outline"></ion-icon> v{{appVersion}}
          </p>
          <p class="light text-center  ion-align-items-end">
            <ion-icon name="bulb-outline"></ion-icon>Powered by BookOne
          </p>
          <p class="light text-center  ion-align-items-end">Made with <img draggable="false" style="height: 12px;" role="img" class="emoji" alt="❤" src="https://s.w.org/images/core/emoji/12.0.0-1/svg/2764.svg"> by CredenceSoft</p>
        </ion-col>
   -->
  </ion-row>
  </ion-grid>
       
  </ion-content>
