<ion-header>
        <ion-toolbar color="primary" class="animated fadeIn">
        
            <ion-buttons slot="start">
                <ion-back-button></ion-back-button>
            </ion-buttons>
            <ion-text color="light">
              
              <ion-text color="secondary" class="HeaderTitle">Service</ion-text>
            </ion-text>
         
         
        </ion-toolbar>
      </ion-header>
     
      <ion-content>

            <ion-tabs>
                <ion-tab-bar slot="bottom">
                    
                
                
                    <ion-tab-button tab="servicesTab">
                        <!-- <ion-icon name="happy"></ion-icon>
                        <ion-label>Services</ion-label> -->
                    </ion-tab-button>
                
                    
                    
                </ion-tab-bar>
            </ion-tabs>
    
           
    
    </ion-content>