<ion-header>
    <ion-toolbar color="primary" class="animated fadeIn">
        <ion-buttons slot="start" class="backbutton" (click)="onHome()">
            <ion-icon name="arrow-back"></ion-icon>
        </ion-buttons>
        <ion-text color="light" class="HeaderTitle">KOT</ion-text>
    </ion-toolbar>
</ion-header>

<ion-content>
    <ion-segment
        mode="md"
        (ionChange)="change()"
        scrollable
        [(ngModel)]="kotSelectionName"
        value="Confirmed"
    >
        <ion-segment-button value="Confirmed">
            <ion-label>Confirmed</ion-label>
        </ion-segment-button>
        <ion-segment-button value="InProgress">
            <ion-label>Cooking</ion-label>
        </ion-segment-button>
        <ion-segment-button value="ReadyToServe">
            <ion-label>Ready</ion-label>
        </ion-segment-button>
        <ion-segment-button value="Served">
            <ion-label>Served</ion-label>
        </ion-segment-button>
    </ion-segment>

    <div>
        <ion-progress-bar
            type="indeterminate"
            *ngIf="loader"
            reversed="true"
        ></ion-progress-bar>

        <div *ngFor="let item of items">
            <ion-list class="list-room" *ngIf="isMatch(item ,kotSelectionName)">
                <ion-card
                    class="bg-white header-card-1 ion-no-margin ion-no-padding"
                >
                    <ion-row class="ion-no-margin ion-no-padding">
                        <ion-col
                            class="ion-no-margin ion-no-padding"
                            size="12"
                            size-xl="12"
                            size-sm="12"
                            size-md="12"
                            size-lg="12"
                        >
                            <ion-chip
                                class="bg-primary"
                                style="float: right; height: 20px"
                                (click)="onChangeStatusByStatus(kotSelectionName , item)"
                            >
                                <ion-label
                                    style="font-size: 13px; color: white"
                                    color="secondary"
                                    *ngIf="kotSelectionName!='Served'"
                                >
                                    Next</ion-label
                                >
                                <ion-label
                                    style="font-size: 13px; color: white"
                                    color="secondary"
                                    *ngIf="kotSelectionName==='Served'"
                                >
                                    Completed</ion-label
                                >
                            </ion-chip>

                            <ion-chip
                                class="bg-primary"
                                style="float: right; height: 20px"
                                (click)="details(item)"
                            >
                                <ion-label
                                    style="font-size: 13px; color: white"
                                    color="secondary"
                                >
                                    Details</ion-label
                                >
                            </ion-chip>

                            <ion-chip
                                *ngIf="kotSelectionName==='Served'"
                                class="bg-primary"
                                style="float: right; height: 20px"
                                (click)="paymentDetail(item)"
                            >
                                <ion-label
                                    style="font-size: 13px; color: white"
                                    color="secondary"
                                >
                                    Payment Details</ion-label
                                >
                            </ion-chip>
                        </ion-col>
                    </ion-row>
                    <ion-row
                        class="ion-no-margin ion-no-padding"
                        class="row-room"
                    >
                        <ion-col
                            class="ion-no-margin ion-no-padding"
                            size="12"
                            size-xl="12"
                            size-sm="12"
                            size-md="12"
                            size-lg="12"
                        >
                            <ion-row class="ion-no-margin ion-no-padding">
                                <ion-text style="font-size: 14px"
                                    >Reservation No#
                                </ion-text>
                                <ion-text
                                    style="font-size: 14px"
                                    class="datavalue"
                                    color="primary"
                                    ><b>{{item.bookOneOrderId}}</b>
                                </ion-text>
                            </ion-row>
                        </ion-col>
                    </ion-row>
                    <ion-row
                        class="ion-no-margin ion-no-padding"
                        class="row-Reservations"
                    >
                        <ion-col
                            class="ion-no-margin ion-no-padding"
                            size="12"
                            size-xl="12"
                            size-sm="12"
                            size-md="12"
                            size-lg="12"
                        >
                            <ion-row>
                                <ion-text style="font-size: 14px"
                                    >Customer Name :</ion-text
                                >
                                <ion-text
                                    style="font-size: 14px"
                                    class="datavalue"
                                    color="primary"
                                >
                                    <b>{{item.firstName}} {{item.lastName}}</b>
                                </ion-text>
                            </ion-row>
                        </ion-col>
                    </ion-row>
                    <ion-row
                        class="ion-no-margin ion-no-padding"
                        class="row-Reservations"
                        *ngIf="item.locationName != null && item.locationName != undefined"
                    >
                        <ion-col
                            class="ion-no-margin ion-no-padding"
                            size="12"
                            size-xl="12"
                            size-sm="12"
                            size-md="12"
                            size-lg="12"
                        >
                            <ion-row>
                                <ion-text style="font-size: 14px"
                                    >Location :</ion-text
                                >
                                <ion-text
                                    style="font-size: 14px"
                                    class="datavalue"
                                    color="primary"
                                >
                                    <b>{{item.locationName}}</b>
                                </ion-text>
                            </ion-row>
                        </ion-col>
                    </ion-row>
                    <ion-row
                        class="ion-no-margin ion-no-padding"
                        class="row-Reservations"
                        *ngIf="item.resourceName != null && item.resourceName != undefined"
                    >
                        <ion-col
                            class="ion-no-margin ion-no-padding"
                            size="12"
                            size-xl="12"
                            size-sm="12"
                            size-md="12"
                            size-lg="12"
                        >
                            <ion-row>
                                <ion-text style="font-size: 14px"
                                    >Resource :</ion-text
                                >
                                <ion-text
                                    style="font-size: 14px"
                                    class="datavalue"
                                    color="primary"
                                >
                                    <b>{{item.resourceName}}</b>
                                </ion-text>
                            </ion-row>
                        </ion-col>
                    </ion-row>
                    <ion-row
                        class="ion-no-margin ion-no-padding"
                        class="row-Reservations"
                    >
                        <ion-col
                            class="ion-no-margin ion-no-padding"
                            size="12"
                            size-xl="12"
                            size-sm="12"
                            size-md="12"
                            size-lg="12"
                        >
                            <ion-row>
                                <ion-text style="font-size: 14px"
                                    >Order Date :</ion-text
                                >
                                <ion-text
                                    style="font-size: 14px"
                                    class="datavalue"
                                    color="primary"
                                    ><b
                                        >{{item.orderedDate | date:'MMM d,
                                        y'}}</b
                                    >
                                </ion-text>
                            </ion-row>
                        </ion-col>
                    </ion-row>
                    <ion-row
                        class="ion-no-margin ion-no-padding"
                        class="row-Reservations"
                    >
                        <ion-col
                            class="ion-no-margin ion-no-padding"
                            size="12"
                            size-xl="12"
                            size-sm="12"
                            size-md="12"
                            size-lg="12"
                        >
                            <ion-row>
                                <ion-text style="font-size: 14px"
                                    >Delivery Date & Time :</ion-text
                                >
                                <ion-text
                                    style="font-size: 14px"
                                    class="datavalue"
                                    color="primary"
                                    ><b
                                        >{{item.requiredDate | date:'MMM d,
                                        y'}}</b
                                    >
                                    <b> {{item.requiredTime}}</b>
                                </ion-text>
                            </ion-row>
                        </ion-col>
                    </ion-row>
                    <ion-row
                        class="ion-no-margin ion-no-padding"
                        class="row-Reservations"
                    >
                        <ion-col
                            class="ion-no-margin ion-no-padding"
                            size="12"
                            size-xl="12"
                            size-sm="12"
                            size-md="12"
                            size-lg="12"
                        >
                            <ion-row>
                                <ion-text style="font-size: 14px"
                                    >Delivery Method :</ion-text
                                >
                                <ion-text
                                    style="font-size: 14px"
                                    class="datavalue"
                                    color="primary"
                                >
                                    <b>{{item.deliveryMethod}}</b></ion-text
                                >
                            </ion-row>
                        </ion-col>
                    </ion-row>

                    <hr class="line" class="ion-no-margin ion-no-padding" />

                    <ion-grid>
                        <ion-row>
                            <ion-col size="1" class="cell-class">
                                <ion-text style="font-size: 10px">No</ion-text>
                            </ion-col>

                            <ion-col size="3" class="cell-class">
                                <ion-text style="font-size: 10px"
                                    >Name</ion-text
                                >
                            </ion-col>

                            <ion-col size="2.5" class="cell-class">
                                <ion-text style="font-size: 10px"
                                    >Status</ion-text
                                >
                            </ion-col>

                            <ion-col size="1.5" class="cell-class">
                                <ion-text style="font-size: 10px"
                                    >Code</ion-text
                                >
                            </ion-col>

                            <ion-col size="1" class="cell-class">
                                <ion-text style="font-size: 10px">Q.T</ion-text>
                            </ion-col>

                            <ion-col size="3" class="cell-class">
                                <ion-text style="font-size: 10px"
                                    >Note</ion-text
                                >
                            </ion-col>
                        </ion-row>

                        <ion-row
                            *ngFor="let propduct of item.orderLineDtoList ; let i = index"
                        >
                            <ion-col size="1" class="cell-class2">
                                <ion-text
                                    color="primary"
                                    style="font-size: 10px"
                                    >{{i+1}}.</ion-text
                                >
                            </ion-col>

                            <ion-col
                                size="3"
                                class="cell-class2"
                                color="primary"
                            >
                                <ion-text
                                    color="primary"
                                    style="font-size: 10px"
                                >
                                    {{propduct.name}}</ion-text
                                >
                            </ion-col>

                            <ion-col
                                size="2.5"
                                class="cell-class2"
                                color="primary"
                            >
                                <ion-text
                                    color="primary"
                                    style="font-size: 10px"
                                >
                                    {{checkStatus(propduct)}}</ion-text
                                >
                            </ion-col>

                            <ion-col
                                size="1.5"
                                class="cell-class2"
                                color="primary"
                            >
                                <ion-text
                                    color="primary"
                                    style="font-size: 10px"
                                >
                                    {{propduct.productCode}}</ion-text
                                >
                            </ion-col>

                            <ion-col
                                size="1"
                                class="cell-class2"
                                color="primary"
                            >
                                <ion-text
                                    color="primary"
                                    style="font-size: 10px"
                                >
                                    {{propduct.unitsInOrder}}</ion-text
                                >
                            </ion-col>

                            <ion-col
                                size="3"
                                class="cell-class2"
                                color="primary"
                            >
                                <ion-text
                                    color="primary"
                                    style="font-size: 10px"
                                >
                                    {{propduct.notes}}</ion-text
                                >
                            </ion-col>
                        </ion-row>
                    </ion-grid>
                </ion-card>
            </ion-list>
        </div>
    </div>
</ion-content>
<ion-footer>
    <ion-toolbar style="height: 50px">
        <app-order-footer></app-order-footer>
    </ion-toolbar>
</ion-footer>
