:host {
    ion-content {
        --background: linear-gradient(-135deg, var(--ion-color-booking_back), var(--ion-color-booking_back))
    }
    .text-white{
        color: white;
    }
    .header{
        background:  var(--ion-color-tm3-primary);
    }

    @media (min-width: 576px) {
        .header-image{
            display: none !important;
        }
        .profile{
            display: none !important; 
        }
        .left-image-header{
            display: none !important; 
        }

        ion-toolbar {
            --background:  #1D174D;
            min-height: 80px;
        }
   

    }
    @media (max-width: 576px) 
    {
        .header-image{
            display: none !important;
        }
        .profile{
            display: none !important; 
        }
        .left-image-header{
            display: none !important; 
        }

        ion-toolbar {
            --background:  #1D174D;
            min-height: 80px;
        }
    }

    .left-image-header{
        z-index: 1;
        position: absolute;
        top: 0px;
        right: 0px;
        height: 22.5vw;
    }
    .table-responsive {
        overflow-x: auto;
    }
    .header-image{
        background-color: var(--ion-color-tm3-primary);
    }
    .HeaderTitle{
        color: white;
        font-size: clamp( 17px, 3.5vw, 26px);
    }

    .profile{
        z-index: 2;
        position: absolute;
        top: 0px;
        right: 0px;
        height: 15vw;
        width: 15vw;
        border: 2px solid white !important;
        box-shadow: 2px 2px 3px #999;
    }

    .HeaderSubTitle{
        position: absolute;
        top: 43px;
        left: 40px;
        font-size: 10px;
        font-size:  clamp( 9px, 3.3vw, 22px);//10px;
        color:#fff;
        z-index: 13;
    }

    .back {
        margin-left: 10px;
        color: white;
    }

    .card-data{
        margin-top: 5px;
        margin-left: 15px;
        margin-right: 15px;
        margin-bottom: 15px;
    }

    .dropdown{
        background: #F1F3F4;
        border-radius: 5px;
        border: 5px;
    }
    
    
    .datepicker{
        background: #F1F3F4;
        border-radius: 5px;
        border: 5px;
    }


    .rpc-text
    {
        margin-left: 5px;
        margin-top: 5px;
    }
    .rpc-number
    {
        padding-bottom: 5px;
        padding-left: 5px;
        padding-right: 5px;
    }
    .paymentamount
    {
        margin-left: 5px;
        margin-bottom: 7px;
    }
    .expdate
    {
        margin-left: 5px;
        margin-bottom: 7px; 
    }
    .cvc
    {
        margin-left: 5px;
        margin-bottom: 7px;
    }
    .payment_List_Title{
        margin-top: 5px;
    }
    .TextValue{
        margin-left: 5px;
    }
    .payment-row{
        margin-left: 10px;
        margin-top: 10px;
    }
    .payment-row-last{

        margin-left: 10px;
        margin-top: 10px;
        margin-bottom: 10px; 
    }
    .newpaymentcreate{
        padding: 5px;
    }

    .headertitle
    {
        margin-left: 10px;
    }
    .headericon{
        margin-left: 10px;
    }
    .card-list{
        margin-left: 15px;
        margin-right:15px; 
    }
    .viewdetail{
        margin-top: 10px;
    }

        
    ion-input,ion-textarea{
        --background: #F1F3F4;
        border-radius: 5px;
    }
    
    .dropdown{
        background: #F1F3F4;
        border-radius: 5px;
        border: 5px;
    }
    
    
    .datepicker{
        background: #F1F3F4;
        border-radius: 5px;
        border: 5px;
    }

    .paymentfrom{
        margin: 5px;
        padding: 10px;
        border-radius: 5px;
        border: 5px;
        background: #fcfcfc;
    }

    .paymentlist{
        margin: 5px;
        padding: 5px;
        border-radius: 10px;
        border: 10px;
        background: #fafafa;
    }

    

}

