<ion-list no-padding no-margin>
    <ion-list-header>
      <ion-label class="fw700">Order Creation</ion-label>
    </ion-list-header>

    
    <ion-item  (click)="onQuickDineInOrder()" >
            <ion-icon name="paper-plane" color="primary"></ion-icon>
            <ion-label class="text-show-detail">Quick Dine In</ion-label>
    </ion-item>

    <ion-item (click)="allOrder()">
            <ion-icon name="add-circle-outline" color="primary"></ion-icon>
            <ion-label class="text-show-detail">All Order</ion-label>
    </ion-item>
</ion-list>