.rpc-text
{
    margin-left: 5px;
    margin-top: 5px;
}

.rpc-number
{
    padding-bottom: 5px;
    padding-left: 5px;
    padding-right: 5px;
}
.gender-row{
    margin-top: 8px;
}

.check-in-out-text
{
    margin-left: 5px;
    margin-top: 5px;
}
.check-in-out-date
{
    padding: 5px;
}
  .datetime-box {
        border-radius: 5px;
        border: 1px solid #aaa;
        
        width: 100%;
        padding: 0px;

        }