// .setting-tab{
//     margin-left: 5px;
// }
// .menu-tab{
//     margin-right: 15px;
// }

.iontabs {
    // --background: var(--ion-color-tm2-primary);
    background-color: #1D174D;
    color: white;
}

.colorWhite{
    color: white;
}