:host {
    ion-content {
        background-color: #fff;
        --padding-top : 10px;
        --padding-bottom: 10px;

 
    }

    // .custom-loader {
    //     position: relative;
    //     display: flex;
    //     flex-direction: column;
    //     align-items: center;
    //     justify-content: center;
    //     height: 50vh; /* You can adjust the height based on your layout requirements */
    //   }
      
    //   .loader-image {
    //     width: 150px; /* Adjust the width of the image as needed */
    //     height: 150px; /* Adjust the height of the image as needed */
    //     z-index: 2;
    //   }
      
    //   .spinner {
    //     position: absolute;
    //     z-index: 1;
    //     width: 200px; 
    //     height: 200px;      
    //   }
 

   

    .cardheader{
        --background: var(--ion-color-tm2-terciary2);
        color: white;
    }
    .text-white {
        color: white;
    }
    .HeaderTitle {
        color: white;
    }
    .name-title-text{
        margin-left: 5px;
    }

    .listcard{
        margin-top: 2px;
        margin-bottom: 2px;
        padding: 5px;
    }
    .invoice-button{
        margin-top: 8px;
        margin-right: 5px;
    }
    .rev{
        color: white;
    }
    .TextValue{
        margin-left: 10px;
        color: black;
    }

    .col{
        border: 1px solid #E7E9EB;
     }

     .batch-expected {
        margin-left: 10px;
        color: white;
        padding-top: 1px;
        padding-bottom: 2px;
        padding: 2px;
        padding-right: 5px;
        font-weight: bold;
        background: #221950;
        font-size: 10px;
        border-radius: 20px;
      }


      .headerColor {
        background-color: #fff;
        min-height: 80px;
        border: none;
    }

    .cardnighthead {
        padding-top: 5px;
        padding-bottom: 5px;
    }

    @media (min-width: 576px) {
        .reportSect{
            margin-left: 50px;
            margin-right: 50px;
        }
        .header-image {
            display: none !important;
        }
        .profile {
            z-index: 100;
            position: absolute;
            top: -4px;
            right: 0px;
            height: 70px !important;
            width: 70px !important;
            border: 2px solid white !important;
            box-shadow: 2px 2px 3px #999;
            margin-right: 6px;
            margin-top: 6px;
        }
        .left-image-header {
            z-index: 1;
            position: absolute;
            top: 0px;
            right: 0px;
            height: 22.5vw;
        }

        ion-toolbar {
            --background: #1D174D;
            height: 80px;
            border: none;
        }
    }
    @media (max-width: 576px) {
        ion-toolbar {
            position: absolute;
            top: 0px;
            --background: #1D174D;
            border: none;
            height: 71px;
            
        }

        .secdiv {
            margin-top: 55px;
        }
        .nightSect {
            margin-top: 70px;
        }
        .cardsrepo {
            height: 160px;
        }

      
    }

    .left-image-header {
        z-index: 1;
        position: absolute;
        top: 0px;
        right: 0px;
        height: 22.5vw;
    }

    .HeaderTitle {
        color: white;
        margin-left: 10px;
        margin-right: 10px;
        margin-top: -17px;

    }

    .profile {
        z-index: 100;
        position: absolute;
        top: 0px;
        right: 0px;
        height: 15vw;
        width: 15vw;
        border: 2px solid white !important;
        box-shadow: 2px 2px 3px #999;
        margin-right: 6px;
        margin-top: 6px;
    }

    .HeaderSubTitle {
        position: absolute;
        top: 37px;
        left: 41px;
        font-size: 12px;
        z-index: 100;
    }

    .back {
        margin-left: 10px;
        color: white;
    }
}