<!-- <ion-tabs no-margin no-padding>
    <ion-tab-bar slot="top" no-margin no-padding>
        <ion-tab-button no-margin no-padding (click)="onOrderDashboard()">
            <ion-icon name="grid-outline" color="secondary"></ion-icon>
            <ion-label color="secondary">Dashboard</ion-label>
        </ion-tab-button>

        <ion-tab-button no-margin no-padding (click)="onCreateOrder()">
            <ion-icon name="create-outline" color="secondary"></ion-icon>
            <ion-label color="secondary">Create</ion-label>
        </ion-tab-button>

        <ion-tab-button no-margin no-padding (click)="onOrderList()">
            <ion-icon name="list-outline" color="secondary"></ion-icon>
            <ion-label color="secondary"> List</ion-label>
        </ion-tab-button>

       <ion-tab-button no-margin no-padding (click)="onKOM()">
            <ion-icon name="cog-outline" color="secondary"></ion-icon>
            <ion-label color="secondary">KOM</ion-label>
        </ion-tab-button>

        <ion-tab-button no-margin no-padding (click)="onKOT()">
            <ion-icon name="restaurant-outline" color="secondary"></ion-icon>
            <ion-label color="secondary">KOT</ion-label>
        </ion-tab-button> -->

        <!-- <ion-tab-button no-margin no-padding (click)="Dashboard()">
            <ion-icon name="home-outline" color="secondary"></ion-icon>
            <ion-label color="secondary">Home</ion-label>
        </ion-tab-button> -->

        <!-- <ion-tab-button no-margin no-padding tab="notifications">
            <ion-icon name="notifications"></ion-icon>
            <ion-label>Notification</ion-label>
        </ion-tab-button> -->

        <!-- <ion-tab-button no-margin no-padding tab="menu">
             <ion-menu-button color="primary"></ion-menu-button>
             <ion-label>Menu</ion-label>
        </ion-tab-button> -->

        <!-- <ion-tab-button
            no-margin
            no-padding
            (click)="menuClick()"
            class="menu-tab"
        >
            <ion-icon
                style="font-size: 30px"
                name="menu-outline"
                color="secondary"
            ></ion-icon>
        </ion-tab-button>
    </ion-tab-bar>
</ion-tabs> --> 

<ion-row class="selectItem">
    <ion-col size="3"><ion-chip color="primary">Primary</ion-chip>
    </ion-col>
    <ion-col size="3"><ion-chip color="primary">Primary</ion-chip>
    </ion-col>
    <ion-col size="3"><ion-chip color="primary">Primary</ion-chip>
    </ion-col>
    <ion-col size="3"><ion-chip color="primary">Primary</ion-chip>
    </ion-col>

</ion-row>