:host {
    ion-content {
        --background: linear-gradient(
            -135deg,
            var(--ion-color-booking_back),
            var(--ion-color-booking_back)
        );
        --padding-start: 10px;
        --padding-end: 10px;
        --padding-top: 10px;
        --padding-bottom: 10px;
    }

    .groupBookingline {
        background-color: #b6b6bb !important;
        color: black;
      }
      

    .viewdetail {
        // margin-top: 8px;
        // margin-right: 5px;
    }
    .bookingstatus {
        margin-right: 10px;
    }
    .status-text {
        margin-right: 10px;
    }
    .name-text {
        margin-left: 5px;
    }
    .checkindate-row {
        margin-left: 5px;
    }
    .checkoutdate-row {
        margin-left: 5px;
        margin-top: 5px;
    }

    .checkindate {
        margin-left: 5px;
    }
    .checkoutdate {
        margin-left: 5px;
    }
    // ...second
    .second-content-no-col {
        margin-top: 5px;
    }
    .second-content-col-2-3 {
        margin-top: 3px;
    }

    .viewdetail-second {
        // margin-top: 8px;
        // margin-right: 5px;
    }
    .second-content-first-row {
        margin-left: 5px;
    }
    .second-content-row {
        margin-left: 5px;
        margin-top: 5px;
    }
    .second-content-2-row {
        margin-left: 5px;
    }

    .title2-marginleft {
        margin-left: 5px;
    }

    .listcard {
        margin-bottom: 5px;
        padding-left: 5px;
    }
    .list-search {
        margin-bottom: 5px;
    }

    .action-sheet-group {
        overflow: scroll;
        max-height: 400px;
    }

    em,
    i {
        font-style: italic;
    }

    .filter {
        margin-top: 8px;
    }

    .dropdown {
        background: #f1f3f4;
        border-radius: 5px;
        border: 5px;
    }

    .datepicker {
        background: #f1f3f4;
        border-radius: 5px;
        border: 5px;
    }

    .input-background {
        --background: #e9ecef;
    }

    .propertyReservationNumberFirstPart {
        margin-top: 10px;
    }
}
