:host {

    @media (min-width: 576px) {
        .profile {
            z-index: 100;
            position: absolute;
            top: -4px;
            right: 0px;
            height: 70px !important;
            width: 70px !important;
            border: 2px solid white !important;
            box-shadow: 2px 2px 3px #999;
            margin-right: 6px;
            margin-top: 6px;
        }
        .left-image-header {
            z-index: 1;
            position: absolute;
            top: 0px;
            right: 0px;
            height: 22.5vw;
        }
    
        ion-toolbar {
            --background: #1D174D;
            height: 80px;
            border: none;
        }


    }

    @media (max-width: 576px) {
        ion-toolbar {
            top: 0px;
            --background: #1D174D;
            border: none;
            height: 71px;
            
        }
    }



    .left-image-header {
        z-index: 1;
        position: absolute;
        top: 0px;
        right: 0px;
        height: 22.5vw;
    }
    
    .HeaderTitle {
        color: white;
        margin-left: 10px;
        margin-right: 10px;
        margin-top: -17px;
    
    }
    
    .profile {
        z-index: 100;
        position: absolute;
        top: 0px;
        right: 0px;
        height: 15vw;
        width: 15vw;
        border: 2px solid white !important;
        box-shadow: 2px 2px 3px #999;
        margin-right: 6px;
        margin-top: 6px;
    }
    
    .HeaderSubTitle {
        position: absolute;
        top: 37px;
        left: 41px;
        font-size: 12px;
        z-index: 100;
    }
    
    .back {
        margin-left: 10px;
        color: white;
    }

    .order-bol-1 {
        position: absolute;
        top: 35%;
        left: 0px;
        height: clamp(150px, 30vw, 350px);
        // z-index: 1;
    }

    .order-bol-2 {
        position: absolute;
        bottom: 0px;
        right: 0px;
        height: clamp(100px, 30vw, 250px);
        // z-index: 1;
    }

    ion-content {
        --background: #fff;
    }

    .text-1 {
        font-size: clamp(8px, 2.6vw, 20px); // 10px
        color: #525252;
        // font-family: 'Inter-Medium' !important;
    }

    .text-2 {
        font-size: clamp(12px, 3.5vw, 24px); //14px;
        color: black;
        // font-family: 'Inter-Medium' !important;
    }

    .text-4 {
        font-size: clamp(10px, 3vw, 26px); // 12px;
        color: #1E1E1E;
        // font-family: 'Inter-Medium' !important;
    }

    .text-3 {
        font-size: clamp(16px, 3vw, 32px); //18px;
        color: #DA9B56;
        // font-family: 'Inter-Medium' !important;
    }

    .mt-5 {
        margin-top: 5px;
    }

    .text-5 {
        font-size: clamp(6px, 2vw, 18px); //8px;
        color: black;
        // font-family: 'Inter-Light' !important;
    }

    .ml-05 {
        margin-left: 5px;
    }

    .price {
        background-color: #49A148;
        color: white;
        border-radius: 10px;
        padding-top: 3px;
        padding-bottom: 3px;
        padding-left: 5px;
        padding-right: 3px;
        font-size: clamp(10px, 2.8vw, 28px); //12px;
    }

    .status {
        border-radius: 10px;
        padding-top: 3px;
        padding-bottom: 3px;
        padding-left: 5px;
        padding-right: 3px;
        color: #49A148;
        font-weight: bold;
        background-color: #E6FAC6;
        font-size: clamp(10px, 2.8vw, 28px); //12px;
        // font-family: 'Inter-Medium' !important;
    }

    .name-title-text {
        font-size: clamp(18px, 3vw, 34px); //20px;
        //color: #525252;
        color: black;
        // font-family: 'Inter-Medium' !important;
    }

    .dropdown {
        // background: #f1f3f4;
        color: white;
        --background: linear-gradient(-215deg,
                var(--ion-color-button1),
                var(--ion-color-button2),
                var(--ion-color-button2),
                var(--ion-color-button2));
        border-radius: 5px;
        border: 5px;
        font-size: clamp(12px, 3vw, 26px); //12px;
    }

    .title-Text {
        margin-right: 5px;
    }

    .selectItem {
        display: flex;
        justify-content: center;
    }

    .mt-1 {
        margin-top: 10px;
    }

    .centerItem {
        display: flex;
        justify-content: center;
    }

    .button-active {

        color: white;
        --background: linear-gradient(-215deg,
                var(--ion-color-button1),
                var(--ion-color-button2),
                var(--ion-color-button2),
                var(--ion-color-button2));
    }

    .header-button {
        font-size: clamp(10px, 3.5vw, 26px);
        // font-family: 'lato-Regular' !important;
    }

    //  .segmentButton{
    //     font-size: clamp(10px, 3.5vw, 26px);
    //  }

    .ItemBox {
        box-sizing: border-box;
        background: linear-gradient(180deg, rgba(255, 255, 255, 0.4) 0%, rgba(255, 255, 255, 0.4) 100%);
        border-radius: 12px;
        color: white;
        // font-family: 'SofiaSans-Bold' !important;
    }

    .text-white {
        color: white;
    }

    .title-21 {
        margin-left: 10px;
        color: white;
    }

    .input-item {
        text-align: center;
    }

    .mt-1 {
        margin-top: 10px;
    }
}

.list {
    margin-left: 5px;
    margin-right: 5px;
    margin-bottom: 5px;
    padding-left: 5px;
}

.centerItem {
    display: flex;
    justify-content: center;
}

.card-item {
    font-size: 13px;
    border-radius: 10px;
    border: 2px solid gray;
    color: #333;
    text-align: center;
}

.table-head-design {
    border-right: 1px solid gray;
    border-bottom: 1px solid gray;
    padding: 10px;
}

.table-body-design {
    border-right: 1px solid gray;
    border-bottom: 1px solid gray;
    padding: 10px;
    text-align: center;
}

.dot {
    height: 35px;
    width: 35px;
    background-color: #259BBF;
    border-radius: 50%;
    display: inline-block;
    text-align: center;
}

.dottwo {

    background-color: #259BBF;
    border-radius: 27px;
    text-align: center;
    height:42px;
    padding-left: 10px;
    padding-right: 10px;

}

.dotthree {

    background-color: #D16562;
    border-radius: 27px;
    text-align: center;
    height:42px;
    width: 100px;

}

canvas {
    width: 115px;
    height: 115px;
  }

.orderPage {
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 10px;
    padding-right: 10px;
    /* background: linear-gradient(-152.97deg, rgba(255, 255, 255, 0.4) 10%, rgba(255, 255, 255, 0) 100%); */
    border-radius: 16px;
    color: white;
    -webkit-backdrop-filter: blur(34px);
    /* backdrop-filter: blur(34px); */
    /* box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); */
    margin-top: 40px;
    margin-left: 5px;
    margin-right: 5px;
    border: 1px solid gray;
}


ion-select.card-item::part(placeholder) {
    color: white !important;
}

.list-back {
    background: #FFFFFF00;
    z-index: 2;
    position: relative;
}

.text-white {
    color: white;
}

ion-searchbar {
    --icon-color: white;
    --background: linear-gradient(-215deg,
            var(--ion-color-button1),
            var(--ion-color-button2),
            var(--ion-color-button2),
            var(--ion-color-button2));
    color: white;
}

.message-error {
    display: flex;
    justify-content: center;
}

ion-footer {
    background: linear-gradient(-180deg,
            var(--ion-color-tm3-terciary1),
            var(--ion-color-tm3-terciary1));
}

ion-segment-button {
    --indicator-box-shadow: #d9d9d9;
    border-radius: 4.23077px;
    padding: 0.1rem;
    margin: 0;
    --background: linear-gradient(-0deg,
            rgba(255, 255, 255, 0.4) 0%,
            rgba(255, 255, 255, 0) 100%);
    --color: #d9d9d9;
    --background-checked: linear-gradient(-0deg,
            rgba(255, 255, 255, 0.4) 0%,
            rgba(255, 255, 255, 0) 100%);
    --color-checked: #d9d9d9;
    --indicator-color: linear-gradient(-0deg,
            rgba(255, 255, 255, 0.4) 0%,
            rgba(255, 255, 255, 0) 100%);
    backdrop-filter: blur(17.7692px);
}

::part(indicator-background) {
    background-color: #d9d9d9;
}

.yellow-card {
    background-color: #e8e47c !important;
}

.white-card {
    background-color: white !important;
}