.rpc-text
{
    margin-left: 5px;
    margin-top: 5px;
}
.rpc-number
{
    padding-bottom: 5px;
    padding-left: 5px;
    padding-right: 5px;
}
.country-row{
    margin-top: 8px;
}

.dropdown{
    background: #F1F3F4;
    border-radius: 5px;
    border: 5px;
}


.datepicker{
    background: #F1F3F4;
    border-radius: 5px;
    border: 5px;
}

.input-background{
    --background: #E9ECEF;
    color: black;
}
.tollbar {
    --background: #1D174D;
    color: #fff;
}
.border-section{
    border: 1px solid gray;
}