:host {
    ion-content {
        --background: #fff;
        --padding-start:10px;
        --padding-end : 10px;
        --padding-top : 10px;
        --padding-bottom: 10px;
    }

    .bg-back{
        padding: 0 !important;
    }
    .service-content{
        --background-color: #f8f8f8;
        padding: 10px !important;
    }
    ion-list{
        background: none;
    }
    .cart {
        display: flex;
        justify-content: center;
        padding: 16px 0px;
        
        border-radius: 16px;
        background: #7168a1;
        .count {
          margin-left: 5px;
          width: 32px;
          height: 20px;
          background: #57bfa1;
          border-radius: 10px;
          display: inline-block;
          text-align: center;
        }
      }
      .addAnother {
        display: flex;
        justify-content: center;
        padding: 16px 0px;
        border-radius: 16px;
        background: #fff;
        color: #333;
        .count {
          margin-left: 5px;
          width: 32px;
          height: 20px;
          background: #57bfa1;
          border-radius: 10px;
          display: inline-block;
          text-align: center;
        }
      }

      .left-image-header {
        z-index: 1;
        position: absolute;
        top: 0px;
        right: 0px;
        height: 22.5vw;
    }

    .HeaderTitle {
        color: white;
        margin-left: 10px;
        margin-right: 10px;
        margin-top: -17px;

    }

    .profile {
        z-index: 100;
        position: absolute;
        top: 0px;
        right: 0px;
        height: 15vw;
        width: 15vw;
        border: 2px solid white !important;
        box-shadow: 2px 2px 3px #999;
        margin-right: 6px;
        margin-top: 6px;
    }

    .HeaderSubTitle {
        position: absolute;
        top: 37px;
        left: 41px;
        font-size: 12px;
        z-index: 100;
    }

    .back {
        margin-left: 10px;
        color: white;
    }

.text-white{
    color: #333;
}
    @media (min-width: 576px) {
        .profile {
            z-index: 100;
            position: absolute;
            top: -4px;
            right: 0px;
            height: 70px !important;
            width: 70px !important;
            border: 2px solid white !important;
            box-shadow: 2px 2px 3px #999;
            margin-right: 6px;
            margin-top: 6px;
        }
        .left-image-header {
            z-index: 1;
            position: absolute;
            top: 0px;
            right: 0px;
            height: 22.5vw;
        }

        ion-toolbar {
            --background: #1D174D;
            height: 80px;
            border: none;
        }
    }


    @media (max-width: 576px) {
        ion-toolbar {
            top: 0px;
            --background: #1D174D;
            border: none;
            height: 71px;
            
        }
        .sectioned {
            margin-top: 10px;
        }
    }

    
}