.itemcard{
    padding-left: 10px;
}

.dropdown{
    background: #F1F3F4;
    border-radius: 5px;
    border: 5px;
}


.datepicker{
    background: #F1F3F4;
    border-radius: 5px;
    border: 5px;
}

.input-background{
    --background: #E9ECEF;
}
.rateandrectiction{
    margin-top: 10px;
}