
<ion-header class="ion-no-border">


    <ion-avatar class="profile">
        <img
        style="object-fit: fill;"
        src="{{this.property.logoUrl}}"
        onerror="this.src='/assets/img/app-logo.png'"
    />
    </ion-avatar>

    <ion-text class="HeaderSubTitle"> Daily Dashboards </ion-text>
    <ion-toolbar>
        <ion-buttons slot="start" class="back">
            <ion-icon name="arrow-back-outline" (click)="back()" style="font-size: 20px; margin-top: -10px;"></ion-icon>
            <ion-text color="light" class="HeaderTitle" 
                >Accommodation</ion-text
            >
            <!-- <ion-img
            style="height:50px; margin-top: -6px;"
                src="/assets/img/icons/arrow-down-white.svg"
                (click)="onMenu()"
            ></ion-img> -->
        </ion-buttons>
        <!-- <ion-text color="light" class="HeaderTitle">Accommodation</ion-text> -->
    </ion-toolbar>
</ion-header>

<ion-content no-margin >
    <app-list  [listStatus] ="listName" *ngIf ="isLoaded" ></app-list>
    <ion-fab vertical="bottom" horizontal="end" slot="fixed" style="margin-bottom: 64px;">
        <ion-fab-button  class="fabButton" (click)="onNewBooking()">
            <ion-img style="height: 20px; width: 20px;"
                src="/assets/img/icons/add-booking-dashboad.svg"
            ></ion-img>
        </ion-fab-button>
    </ion-fab>
</ion-content>



<!-- <ion-footer>
        <ion-toolbar style=" height: 50px;">
                <app-footer></app-footer>
        </ion-toolbar>
</ion-footer>
     -->