<ion-header class="ion-no-border">


    <ion-avatar class="profile">
        <img
        style="object-fit: fill;"
        src="{{this.property.logoUrl}}"
        onerror="this.src='/assets/img/app-logo.png'"
    />
    </ion-avatar>

    <ion-text class="HeaderSubTitle"> External Reservations </ion-text>
    <ion-toolbar>
        <ion-buttons slot="start" class="back">
            <ion-icon name="arrow-back-outline"   (click)="navigateToPage()"  style="font-size: 20px; margin-top: -10px;cursor: pointer;"></ion-icon>
            <ion-text color="light" class="HeaderTitle" 
                >Accommodation</ion-text
            >
            <!-- <ion-img
            style="height:50px; margin-top: -6px;"
                src="/assets/img/icons/arrow-down-white.svg"
                (click)="onMenu()"
            ></ion-img> -->
        </ion-buttons>
        <!-- <ion-text color="light" class="HeaderTitle">Accommodation</ion-text> -->
    </ion-toolbar>
</ion-header>

<ion-content no-margin no-padding>
    <ion-searchbar
    style="border: 1px solid gray; background-color: #fff; padding: 0px !important;"
        mode="md"
        (ionClear)="clear($event)"
        class="list-search uppserDone"
        (ionInput)="getItems($event)"
        padding-left
        padding-right
        no-padding

    >
    </ion-searchbar>

    <!-- <ion-progress-bar
        type="indeterminate"
        *ngIf="isProgressing"
        reversed="true"
    ></ion-progress-bar> -->

    <div class="loader-everyOne" *ngIf="isProgressing">
        <ion-spinner name="crescent" class="spinner"></ion-spinner>
        <div class="loader-content">
          <img src="/assets/img/loader-logo.png" alt="Loader Image" class="loader-image">
          <div class="loader-text">Please wait...</div>
        </div>
      </div>

    <ion-list
        class="item-list"
        *ngFor="let row of rows| paginate: { itemsPerPage: 5, currentPage: p }; let i = index"
        no-margin
        no-padding
        style="padding: 0px !important;"
    >
        <ion-card class="bg-white card-item" no-margin no-padding style="border: 1px solid gray; border-radius: 16px;">
            <ion-grid no-padding>
                <ion-row class="second-content-first-row" no-padding>
                    <ion-col
                        class="second-content-col-2-3"
                        no-padding
                        size="3"
                        size-xl="3"
                        size-sm="3"
                        size-md="3"
                        size-lg="3"
                    >
                        <ion-text style="font-size: 10px">Channel ID</ion-text>
                        <ion-row no-padding>
                            <ion-col
                                no-padding
                                size="12"
                                size-xl="12"
                                size-sm="12"
                                size-md="12"
                                size-lg="12"
                            >
                                <ion-text
                                    color="primary"
                                    style="font-size: 12px"
                                    >{{row.channelId}}</ion-text
                                >
                            </ion-col>
                        </ion-row>
                    </ion-col>

                    <ion-col
                        class="second-content-col-2-3"
                        no-padding
                        size="4.5"
                        size-xl="4.5"
                        size-sm="4.5"
                        size-md="4.5"
                        size-lg="4.5"
                    >
                        <ion-text style="font-size: 10px"
                            >Check-In Date</ion-text
                        >
                        <ion-row no-padding>
                            <ion-col
                                no-padding
                                size="12"
                                size-xl="12"
                                size-sm="12"
                                size-md="12"
                                size-lg="12"
                            >
                                <ion-text
                                    color="primary"
                                    style="font-size: 12px"
                                    >{{row.checkinDate | date: 'EEE, MMM d,
                                    y'}}</ion-text
                                >
                            </ion-col>
                        </ion-row>
                    </ion-col>
                    <ion-col
                        class="second-content-col-2-3"
                        no-padding
                        size="4.5"
                        size-xl="4.5"
                        size-sm="4.5"
                        size-md="4.5"
                        size-lg="4.5"
                    >
                        <ion-text
                            style="font-size: 10px"
                            style="font-size: 12px"
                            >Check-Out Date</ion-text
                        >

                        <ion-row>
                            <ion-col
                                no-padding
                                size="12"
                                size-xl="12"
                                size-sm="12"
                                size-md="12"
                                size-lg="12"
                            >
                                <ion-text
                                    color="primary"
                                    style="font-size: 12px"
                                    >{{row.checkoutDate | date: 'EEE, MMM d,
                                    y'}}</ion-text
                                >
                            </ion-col>
                        </ion-row>
                    </ion-col>
                </ion-row>

                <!-- row 2 -->

                <ion-row no-padding class="second-content-2-row">
                    <ion-col
                        no-padding
                        size="6"
                        size-xl="6"
                        size-sm="6"
                        size-md="6"
                        size-lg="6"
                    >
                        <ion-text style="font-size: 10px">First Name</ion-text>
                        <ion-row>
                            <ion-col
                                no-padding
                                size="12"
                                size-xl="12"
                                size-sm="12"
                                size-md="12"
                                size-lg="12"
                            >
                                <ion-text
                                    color="primary"
                                    style="font-size: 12px"
                                    >{{row.firstName}}</ion-text
                                >
                            </ion-col>
                        </ion-row>
                    </ion-col>
                    <ion-col
                        no-padding
                        size="6"
                        size-xl="6"
                        size-sm="6"
                        size-md="6"
                        size-lg="6"
                    >
                        <ion-text
                            style="font-size: 10px"
                            style="font-size: 12px"
                            >Last Name</ion-text
                        >

                        <ion-row>
                            <ion-col
                                no-padding
                                size="12"
                                size-xl="12"
                                size-sm="12"
                                size-md="12"
                                size-lg="12"
                            >
                                <ion-text
                                    color="primary"
                                    style="font-size: 12px"
                                    >{{row.lastName}}</ion-text
                                >
                            </ion-col>
                        </ion-row>
                    </ion-col>
                </ion-row>

                <!-- row 3 -->

                <ion-row no-padding class="second-content-2-row">
                    <ion-col
                        no-padding
                        size="6"
                        size-xl="6"
                        size-sm="6"
                        size-md="6"
                        size-lg="6"
                    >
                        <ion-text style="font-size: 10px">Phone</ion-text>
                        <ion-row>
                            <ion-col
                                no-padding
                                size="12"
                                size-xl="12"
                                size-sm="12"
                                size-md="12"
                                size-lg="12"
                            >
                                <ion-text
                                    color="primary"
                                    style="font-size: 12px"
                                    >{{row.contactNumber}}</ion-text
                                >
                            </ion-col>
                        </ion-row>
                    </ion-col>
                    <ion-col
                        no-padding
                        size="6"
                        size-xl="6"
                        size-sm="6"
                        size-md="6"
                        size-lg="6"
                    >
                        <ion-text style="font-size: 10px">Email</ion-text>

                        <ion-row>
                            <ion-col
                                no-padding
                                size="12"
                                size-xl="12"
                                size-sm="12"
                                size-md="12"
                                size-lg="12"
                            >
                                <ion-text
                                    color="primary"
                                    style="font-size: 12px"
                                    >{{row.email}}</ion-text
                                >
                            </ion-col>
                        </ion-row>
                    </ion-col>
                </ion-row>
                <!-- row 4 -->

                <ion-row no-padding class="second-content-2-row">
                    <ion-col
                        no-padding
                        size="6"
                        size-xl="6"
                        size-sm="6"
                        size-md="6"
                        size-lg="6"
                    >
                        <ion-text style="font-size: 10px"
                            >External Transations</ion-text
                        >
                        <ion-row>
                            <ion-col
                                no-padding
                                size="12"
                                size-xl="12"
                                size-sm="12"
                                size-md="12"
                                size-lg="12"
                            >
                                <ion-text
                                    color="primary"
                                    style="font-size: 12px"
                                    >{{row.externalTransactionId}}</ion-text
                                >
                            </ion-col>
                        </ion-row>
                    </ion-col>
                    <ion-col
                        no-padding
                        size="6"
                        size-xl="6"
                        size-sm="6"
                        size-md="6"
                        size-lg="6"
                    >
                        <ion-text style="font-size: 10px">OTA Name</ion-text>

                        <ion-row>
                            <ion-col
                                no-padding
                                size="12"
                                size-xl="12"
                                size-sm="12"
                                size-md="12"
                                size-lg="12"
                            >
                                <ion-text
                                    color="primary"
                                    style="font-size: 12px"
                                    >{{row.otaName}}</ion-text
                                >
                            </ion-col>
                        </ion-row>
                    </ion-col>
                </ion-row>

                <!-- row 5 -->

                <ion-row no-padding class="second-content-2-row">
                    <ion-col
                        no-padding
                        size="6"
                        size-xl="6"
                        size-sm="6"
                        size-md="6"
                        size-lg="6"
                    >
                        <ion-text style="font-size: 10px"
                            >OTA Reservations</ion-text
                        >
                        <ion-row>
                            <ion-col
                                no-padding
                                size="12"
                                size-xl="12"
                                size-sm="12"
                                size-md="12"
                                size-lg="12"
                            >
                                <ion-text
                                    color="primary"
                                    style="font-size: 12px"
                                    >{{row.otaReservationId}}</ion-text
                                >
                            </ion-col>
                        </ion-row>
                    </ion-col>
                    <ion-col
                        no-padding
                        size="6"
                        size-xl="6"
                        size-sm="6"
                        size-md="6"
                        size-lg="6"
                    >
                        <ion-text style="font-size: 10px">Status</ion-text>

                        <ion-row>
                            <ion-col
                                no-padding
                                size="12"
                                size-xl="12"
                                size-sm="12"
                                size-md="12"
                                size-lg="12"
                            >
                                <ion-text
                                    color="primary"
                                    style="font-size: 12px"
                                    >{{row.status}}</ion-text
                                >
                            </ion-col>
                        </ion-row>
                    </ion-col>
                </ion-row>
            </ion-grid>
        </ion-card>
    </ion-list>
    <pagination-controls (pageChange)="p = $event"></pagination-controls>
</ion-content>
<ion-footer>
    <ion-toolbar style="height: 50px">
        <app-footer></app-footer>
    </ion-toolbar>
</ion-footer>
