

<ion-header class="headerColor">

    <ion-avatar class="profile">
        <img
        style="object-fit: fill;"
            src="{{this.property.logoUrl}}"
            onerror="this.src='/assets/img/app-logo.png'"
        />
    </ion-avatar>
    
    
    <ion-toolbar>
        <ion-buttons slot="start" class="back" (click)="navigateToPage()">
            <ion-icon name="arrow-back-outline"></ion-icon>
        </ion-buttons>
        <ion-text color="light" class="HeaderTitle">Change Password</ion-text>
        
    </ion-toolbar>
    </ion-header>


 

<ion-content>
    <ion-grid fixed no-padding>

        <form  [formGroup]="PasswordForm" > 

                <ion-row>
                    <ion-col size="12" padding>
                
                        <ion-list margin-bottom>
                            <!-- <ion-list-header color="light">
                              <ion-label class="fw700">Business Infor</ion-label>
                            </ion-list-header> -->
                    
                        <ion-row>
                            <ion-col size ="12" >
                                <ion-list>    
                                    <ion-item>
                                        <ion-label color="dark" position="stacked">Password*</ion-label>
                                        <ion-input inputmode="password" type="password"  formControlName="Password"  
                                        [(ngModel)]="changePassword.password"
                                        (ngModelChange)="passwordFunction($event)" ></ion-input>
                                    </ion-item>
                                </ion-list>
                            </ion-col>
                                
                        </ion-row> 
                        <p ion-text color="danger" class="text08" *ngIf="PasswordForm.get('Password').touched && PasswordForm.get('Password').hasError('required')">
                            <ion-text color="danger">
                                   Input Field Empty
                            </ion-text>
                            </p>
                        
                            <p ion-text color="danger" class="text08" *ngIf="PasswordForm.get('Password').dirty && !isPasswordValid">
                                <ion-text color="danger">
                                    Password should have minimum 8 characters, at least 1 uppercase letter, 1 lowercase letter, 1 number and 1 special character
                                </ion-text>
                            </p>
                        
                            <p ion-text class="text08" *ngIf="PasswordForm.get('Password').dirty && isPasswordValid">
                                <ion-text color="success">
                                    Pattern Matched
                                </ion-text>
                            </p>    
                            
                        <ion-row>
                            <ion-col size ="12" >
                                <ion-list>    
                                    <ion-item>
                                        <ion-label color="dark" position="stacked">Confirm Password*</ion-label>
                                        <ion-input inputmode="password" type="password"  formControlName="Cpassword"  
                                        (ngModelChange)="confirmPasswordFunction($event)"
                                        [(ngModel)]="changePassword.confirmPassword" ></ion-input>
                                    </ion-item>
                                </ion-list>
                            </ion-col>
                               
                        </ion-row> 

                        <p ion-text class="text08" *ngIf="PasswordForm.get('Cpassword').touched && PasswordForm.get('Cpassword').hasError('required')">
                            <ion-text color="danger">
                                Input Field Empty 
                            </ion-text>
                            </p>
                    
                            <p ion-text class="text08" *ngIf="PasswordForm.get('Cpassword').dirty && passwordMatched == true && hasLength" >
                            <ion-text  color="success">
                                Password matched
                            </ion-text>
                            </p>
                            <p ion-text class="text08" *ngIf="PasswordForm.get('Cpassword').dirty && passwordMatched == false && hasLength" >
                            <ion-text color="danger">
                                Password not matched
                            </ion-text>
                            </p>
                                
                        
                       

                      
                          
                    
                          </ion-list>
                
                  
                        </ion-col>
                      </ion-row>

                      <div class="ion-margin-vertical">
                        <ion-button icon-left size="medium" class="update-button" expand="full" shape="round" (click)="onSubmit()"
                        [disabled]="!PasswordForm.valid || !passwordMatched|| !this.isPasswordValid ||loader" tappable style="color: white;">
                      
                        Change
                        </ion-button>
                
                
                    </div>

                
            


        </form>


      
    </ion-grid>
</ion-content>
