:host {
    .advChange {
        display: flex;
        margin-top: -22px;
    
    }
    .advmenu {
        margin-top: -13px;
        margin-left: 2px;
        margin-right: 3px;
    }
    .labels {
        color: #333;
    }
    
    .advdiv {
        overflow: hidden; /* Ensures image stays within bounds */
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #fff;
    border-radius: 50%; /* Keeps the div circular */
    border: 6px solid #57C0A2;
    }
    .advimg {
        width: 100%; /* Ensures image scales within the container */
    height: 100%; /* Ensures image scales within the container */
    object-fit: cover; /* Crops image within the circular frame */
    border-radius: 50%;
    }
    .advdivOne {
        border: 3px solid #F89A34;
        border-radius: 50%;
      }
      .advdivTwo {
        width: 70px; /* Set width to match image dimensions */
        height: 70px; /* Set height to match image dimensions */
        overflow: hidden; /* Ensures image stays within bounds */
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: #fff;
        border-radius: 50%; /* Keeps the div circular */
        border: 2px solid #fff;
      }
    @media (min-width: 576px) {
        .header-image {
            display: none !important;
        }
        .profile {
            z-index: 100;
            position: absolute;
            top: -4px;
            right: 0px;
            height: 70px !important;
            width: 70px !important;
            border: 2px solid white !important;
            box-shadow: 2px 2px 3px #999;
            margin-right: 6px;
            margin-top: 6px;
        }
        .left-image-header {
            z-index: 1;
            position: absolute;
            top: 0px;
            right: 0px;
            height: 22.5vw;
        }
    
        ion-toolbar {
            --background: #1D174D;
            height: 80px;
            border: none;
        }
        .advContainer {
            margin-top: 21px;
            margin-bottom: 6px;
            display: flex;
            justify-content: space-between; /* Space out the left and right sections */
    
        }
    }
    @media (max-width: 576px) {
        ion-toolbar {
            
            top: 0px;
            --background: #1D174D;
            border: none;
            height: 71px;
            
        }
        
        .advContainer {
            display: flex;
            justify-content: space-between;
            background: linear-gradient(182deg, #1D174D -68%, #407C80 90%, #57C0A2 100%);
            width: 98%;
            padding: 8px;
            padding-top: 30px;
            padding-bottom: 17px;
            border-radius: 30px;
            margin: 3px;
            margin-top: 7px;
    }
    .backbtn {
        background-color: #3D737B;
        width: 97%;
        border-radius: 20px;
        padding: 10px;
        font-size: 18px;
    }
    
    }
    @media (min-width: 700px) and (max-width: 1023px){
        .table-container {
            margin-top: -16px;
          margin-left: 20px;
          margin-right: 20px;
           
          }
    }
    @media (min-width: 601px){
        .table-container {
            margin-top: -16px;
          margin-left: 30px;
          margin-right: 30px;
           
          }
        .backbtn {
            background-color: #3D737B;
            width: 50%;
            border-radius: 20px;
            padding: 10px;
            font-size: 18px;
        }
        .btnOne {
            display: flex;
            justify-content: center;
        }
        .desiginIcon{
            position: absolute; font-size: 20px;
            right: 50px;
            transform: translateY(-50%);
            color: black;
            margin-top: 16px;
        }

        .btmRate {
            background-color: #259BBF;
            color: #fff;
            font-weight: 700;
            padding: 5px;
            /* padding-left: 8px; */
            /* padding-right: 8px; */
            border-radius: 14px;
            padding-top: 16px;
            padding-bottom: 18px;
            width: 139px;
        }
        .divided {
            border: 1px solid #5F5656; 
            margin-right: 10px;
            border-radius: 10px;
        }
        .headingrate{
            margin-top: 12px; 
        }
        
        .masterratebtm {
            background-color: #F89A34;
            width: 319px;
            border-radius: 20px;
            padding: 18px;
            font-size: 18px;
        }
    }

    @media (max-width: 600px) {
        .table-container {
            margin-top: -16px;
            display: flex;
            justify-content: center;
           
          }
        .btnOne {
            margin-top: 50px;
        }
        .responsive-table th,
        .responsive-table td {
          padding: 8px;
          font-size: 14px;
        }
        .desiginIcon{
            position: absolute; font-size: 20px;
            right: 32px;
            transform: translateY(-50%);
            color: black;
            margin-top: 16px;
        }

        .card-layout {
            background: linear-gradient(0deg, rgba(255, 255, 255, 0.4) 0%, rgba(255, 255, 255, 0) 100%) !important;
            -webkit-backdrop-filter: blur(34px);
            backdrop-filter: blur(34px);
            border-radius: 16px;
            margin: 20px;
            border: 1px solid #7b6e72 !important;
            margin-top: 140px !important;
        }

        .btmRate {
            background-color: #259BBF;
            color: #fff;
            font-weight: 700;
            padding: 10px;
            /* padding-left: 6px; */
            /* padding-right: 6px; */
            border-radius: 11px;
            padding-top: 12px;
            padding-bottom: 12px;
            font-size: 16px;
        }
        .divided {
            border: 1px solid #5F5656; 
            margin-left: 10px; 
            border-radius: 10px;
            margin-right: 10px;
        }

        .headingrate{
            margin-top: 83px; 
        }
       
        .masterratebtm {
            background-color: #F89A34;
            border-radius: 16px;
            padding: 16px;
            font-size: 18px;
        }

        .rateimgOne {
            height: 32px !important;
        }
    }
    @media (max-width: 480px) {
        .responsive-table th,
        .responsive-table td {
          padding: 6px;
          font-size: 12px;
        }
      }
   

      ion-footer {
        background-color: #EFF9F6;
        --border-width: 0px; /* Removes any border */
        box-shadow: none;  
    }
      
      .responsive-table {
        width: 100%;
        border-collapse: collapse;
        font-size: 16px;
      
      }
      .spacing {
        border-left: 1px solid #ddd ;
        border-right: 1px solid #ddd ;
        border-bottom: 1px solid #ddd;
        padding: 7px;
      }
      
      .responsive-table th,
      .responsive-table td {
        padding: 8px;
        text-align: left;
        border: 1px solid #ddd;
        color: black;
      }
      
      .responsive-table th {
        background-color: #F0F0F0 !important;
        font-weight: bold;
        padding: 7px !important;
      }

      .responsive-table tr {
        background-color: #fff!important;
        font-weight: normal;
      }

    .rateChange {
        display: flex;
        margin-top: -22px;
    
    }
    .option-content {
        border-top: 1px solid black;
        margin-top: 6px;
      }
      .card-item-list{

        --border-radius: 4.23077px;
        font-size: 13px;
        -webkit-backdrop-filter: blur(34px);
        backdrop-filter: blur(34px);
        color: white;
        text-align: center;
        border: none;
        
      }

    .ratediv {
        border: 3px solid #F89A34;
        border-radius: 30px;
    }
    .rateimg {
        display: block;
        width: 56px;
        background-color: #fff;
        border-radius: 25px;
        border: 6px solid #57C0A2;
    }

    .ratemenu {
        display: flex;
        justify-content: right;
        margin-top: -42px;
        margin-right: 10px;
    }
    
    .left-image-header {
        z-index: 1;
        position: absolute;
        top: 0px;
        right: 0px;
        height: 22.5vw;
    }
    
    .HeaderTitle {
        color: white;
        margin-left: 10px;
        margin-right: 10px;
        margin-top: -9px;
    
    }
    
    .profile {
        z-index: 100;
        position: absolute;
        top: 0px;
        right: 0px;
        height: 15vw;
        width: 15vw;
        border: 2px solid white !important;
        box-shadow: 2px 2px 3px #999;
        margin-right: 6px;
        margin-top: 6px;
    }
    
    .HeaderSubTitle {
        position: absolute;
        top: 37px;
        left: 46px;
        font-size: 12px;
        z-index: 100;
    }
    
    .back {
        margin-left: 10px;
        color: white;
    }
    .HeaderTitle {
        color: white;
        margin-left: 10px;
        margin-right: 10px;
        font-size: 18px;
    }

  
    ion-content {
        --background: #fff;
    }
    .rateimgOne {
        height:40px
    }
    .ratesection {
        display: flex;
    margin-top: 7px;
    margin-bottom: 5px;
        
    }
    .dateRate {
        width: 94%;
        margin-left: 10px;
        color: black;
    
    }
    .floatRate {
        display: flex;
        justify-content: right;
        margin-right: 12px;
    }

  

    .list-back{
        background: #FFFFFF00;
        z-index: 2;
        position: relative;
    }
    .text-white{
        color: white;
    }

    .footer {
        --background: var(--ion-color-tm2-terciary1);
        color: white;
    }
}
.card-layout{
    background: linear-gradient(0deg, rgba(255, 255, 255, 0.4) 0%, rgba(255, 255, 255, 0) 100%) !important;
    -webkit-backdrop-filter: blur(34px);
    backdrop-filter: blur(34px);
    border-radius: 16px;
    margin: 20px;
    border: 1px solid #aba8a8 !important;
    margin-top: 10px;
}

ion-footer {
    background-color: #eff9f6;
    --border-width: 0px; /* Removes any border */
    box-shadow: none;  
}

.card-item {
    /* background: linear-gradient(0deg, rgba(255, 255, 255, 0.4) 0%, rgba(255, 255, 255, 0) 100%); */
    /* backdrop-filter: blur(34px); */
    border-radius: 5px;
    /* color: white; */
    text-align: center;
    border: 1px solid lightgray !important;
    color: black;
}
.add_noofperson{
    display: inherit;
    background: linear-gradient(0deg, rgba(255, 255, 255, 0.4) 0%, rgba(255, 255, 255, 0) 100%);
    height: 39px;
    border-radius: 5px;
    text-align: center;
    padding-top: 11px;
    
}
#noOfPax{
    font-weight: 700;
    font-size: clamp(10px, 4vw, 23px); 
}
.remove_person{
    margin-right: 10px;
}
.add_person{
    margin-left: 10px;
}
.button-submit {
    --background: #3D737B;
    border-radius: 10px;
    color: white;
}